@()(implicit flash: Flash)
<html>
  <head>
    <title>RECOGITO Administration » Backup &amp; Restore</title>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/admin/main.css")" />
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/jquery/jquery-2.0.0.min.js")"></script>
  </head>
  
  <body>
    <div id="header">
      <div id="title">ADMINISTRATION » Backup &amp; Restore
        <div id="home-button"><a href="@routes.ApplicationController.index(None)" class="icon">&#xf015;</a></div>
      </div>
      
      <div id="menu">
        <ul>
          <li><a href="@controllers.admin.routes.DocumentAdminController.listAll()">Documents</a></li>
          <li><a href="@controllers.admin.routes.UserAdminController.listAll()">Users</a></li>
          <li class="active"><a href="#" onclick="return false;">Backup &amp; Restore</a></li>
        </ul>
      </div>      
    </div>  
    
    <div id="content">
      @flash.get("error").map { message =>
      	<h2>Something's wrong with your uploaded file.</h2>
        <div class="error">
          @Html(message)
        </div>
      }
      
      @flash.get("success").map { message =>
        <div class="success">
          @message
        </div>
      }
      <h2>Download Database Contents</h2>
      <table>
        <tr>
          <td><button class="icon" onclick="location.href='@controllers.admin.routes.BackupRestoreController.downloadAllDocuments()'">&#xf019;</button></td>
          <td>Download All Documents (ZIP)</td>
        </tr>
        
        <tr>
          <td><button class="icon" onclick="location.href='@controllers.admin.routes.BackupRestoreController.downloadAllUsers()'">&#xf019;</button></td>
          <td>Download Users (CSV)</td>
        </tr>
        
        <tr>
          <td><button class="icon" onclick="location.href='@controllers.admin.routes.BackupRestoreController.downloadEditHistory()'">&#xf019;</button></td>
          <td>Download Edit History (CSV)</td>
        </tr>
        
        <tr>
          <td><button class="icon" onclick="location.href='@controllers.admin.routes.BackupRestoreController.downloadStatsTimeline()'">&#xf019;</button></td>
          <td>Download Daily Stats Timeline (CSV)</td>
        </tr>
      </table>
      
      <h2>Upload to Database</h2>
      <table>
        <tr>
          <td>
            <button class="upload icon" data-input="upload-documents">&#xf093;</button>
          </td>
          <td>
            Upload Document ZIP
          </td>
          <td>
            @helper.form(action = controllers.admin.routes.DocumentAdminController.uploadDocuments(), 'enctype -> "multipart/form-data") {
              <input type="file" id="upload-documents" name="zip" accept=".zip">
            }
          </td>
        </tr>
        
        <tr>
          <td>
            <button class="upload icon" data-input="upload-users">&#xf093;</button>
          </td>
          <td>
            Upload User CSV
          </td>
          <td>
            @helper.form(action = controllers.admin.routes.BackupRestoreController.uploadUsers(), 'enctype -> "multipart/form-data") {
              <input type="file" id="upload-users" name="csv" accept=".csv">
            }
          </td>
        </tr>
        
        <tr>
          <td>
            <button class="upload icon" data-input="upload-history">&#xf093;</button>
          </td>
          <td>
            Upload Edit History CSV
          </td>
          <td>
            @helper.form(action = controllers.admin.routes.BackupRestoreController.uploadEditHistory(), 'enctype -> "multipart/form-data") {
              <input type="file" id="upload-history" name="csv" accept=".csv">
            }
          </td>
        </tr>
        
        <tr>
          <td>
            <button class="upload icon" data-input="upload-timeline">&#xf093;</button>
          </td>
          <td>
            Upload Daily Stats CSV
          </td>
          <td>
            @helper.form(action = controllers.admin.routes.BackupRestoreController.uploadStatsTimeline(), 'enctype -> "multipart/form-data") {
              <input type="file" id="upload-timeline" name="csv" accept=".csv">
            }
          </td>
        </tr>
      </table>
    </div>
    @tags.js_admin_upload()     
  </body>
</html>
