<html>
  <head>
    <title>RECOGITO Administration » Backup &amp; Restore</title>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/admin/main.css")" />
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/jquery/jquery-2.0.0.min.js")"></script>
  </head>
  
  <body>
    <div id="header">
      <div id="title">ADMINISTRATION » Backup &amp; Restore
        <div id="home-button"><a href="@routes.AdminController.index()" class="icon">&#xf015;</a></div>
      </div>
      
      <div id="menu">
        <ul>
          <li><a href="#">Documents</a></li>
          <li><a href="#">Users</a></li>
          <li class="active"><a href="#" onclick="return false;">Backup &amp; Restore</a></li>
        </ul>
      </div>      
    </div>  
    
    <div id="content">
      <h2>Backup</h2>
      <table>
        <tr>
          <td><button class="icon" onclick="location.href='@routes.AdminController.downloadAllDocuments()'">&#xf019;</button></td>
          <td>Backup Documents (ZIP)</td>
        </tr>
        
        <tr>
          <td><button class="icon" onclick="location.href='@routes.AdminController.downloadUsers()'">&#xf019;</button></td>
          <td>Backup User (CSV)</td>
        </tr>
        
        <tr>
          <td><button class="icon" onclick="location.href='@routes.AdminController.downloadEditHistory()'">&#xf019;</button></td>
          <td>Backup Edit History (CSV)</td>
        </tr>
        
        <tr>
          <td><button class="icon" onclick="location.href='@routes.AdminController.downloadStatsTimeline()'">&#xf019;</button></td>
          <td>Backup Daily Stats Timeline (CSV)</td>
        </tr>
      </table>
      
      <h2>Restore</h2>
      
    </div>
  </body>
</html>
