@()(implicit flash: Flash)
<html>
  <head>
    <title>RECOGITO Administration » Backup &amp; Restore</title>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/admin/main.css")" />
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/jquery/jquery-2.0.0.min.js")"></script>
  </head>
  
  <body>
    <div id="header">
      <div id="title">ADMINISTRATION » Backup &amp; Restore
        <div id="home-button"><a href="@routes.AdminController.index()" class="icon">&#xf015;</a></div>
      </div>
      
      <div id="menu">
        <ul>
          <li><a href="#">Documents</a></li>
          <li><a href="#">Users</a></li>
          <li class="active"><a href="#" onclick="return false;">Backup &amp; Restore</a></li>
        </ul>
      </div>      
    </div>  
    
    <div id="content">
      @flash.get("error").map { message =>
      	<h2>Something's wrong with your uploaded file.</h2>
      	<p>Maybe this error message is of help.</p>
        <div class="error">
          @message
        </div>
      }
      
      @flash.get("success").map { message =>
        <div class="success">
          @message
        </div>
      }
      <h2>Backup</h2>
      <table>
        <tr>
          <td><button class="icon" onclick="location.href='@routes.AdminController.downloadAllDocuments()'">&#xf019;</button></td>
          <td>Backup Documents (ZIP)</td>
        </tr>
        
        <tr>
          <td><button class="icon" onclick="location.href='@routes.AdminController.downloadUsers()'">&#xf019;</button></td>
          <td>Backup User (CSV)</td>
        </tr>
        
        <tr>
          <td><button class="icon" onclick="location.href='@routes.AdminController.downloadEditHistory()'">&#xf019;</button></td>
          <td>Backup Edit History (CSV)</td>
        </tr>
        
        <tr>
          <td><button class="icon" onclick="location.href='@routes.AdminController.downloadStatsTimeline()'">&#xf019;</button></td>
          <td>Backup Daily Stats Timeline (CSV)</td>
        </tr>
      </table>
      
      <h2>Restore</h2>
      <table>
        <tr>
          <td>
            <button class="upload icon" data-input="upload-documents">&#xf093;</button>
          </td>
          <td>
            Restore Documents from ZIP
          </td>
          <td>
            @helper.form(action = routes.AdminController.uploadDocuments(), 'enctype -> "multipart/form-data") {
              <input type="file" id="upload-documents" name="zip" accept=".zip">
            }
          </td>
        </tr>
        
        <tr>
          <td>
            <button class="upload icon" data-input="upload-users">&#xf093;</button>
          </td>
          <td>
            Restore Users from CSV
          </td>
          <td>
            @helper.form(action = routes.AdminController.uploadUsers(), 'enctype -> "multipart/form-data") {
              <input type="file" id="upload-users" name="csv" accept=".csv">
            }
          </td>
        </tr>
        
        <tr>
          <td>
            <button class="upload icon" data-input="upload-history">&#xf093;</button>
          </td>
          <td>
            Restore Edit History from CSV
          </td>
          <td>
            @helper.form(action = routes.AdminController.uploadEditHistory(), 'enctype -> "multipart/form-data") {
              <input type="file" id="upload-history" name="csv" accept=".csv">
            }
          </td>
        </tr>
        
        <tr>
          <td>
            <button class="upload icon" data-input="upload-timeline">&#xf093;</button>
          </td>
          <td>
            Restore Daily Stats Timeline from CSV
          </td>
          <td>
            @helper.form(action = routes.AdminController.uploadStatsTimeline(), 'enctype -> "multipart/form-data") {
              <input type="file" id="upload-timeline" name="csv" accept=".csv">
            }
          </td>
        </tr>
      </table>
    </div>
    
    <script type="text/javascript">
      // Wire CSS-styled upload button to hidden file input 
      $('.upload').click(function(e) {
        var inputId = e.target.getAttribute('data-input');
        $('#' + inputId).click();  
      });

      // Set the hidden inputs to auto-submit
      $('input:file').change(function(e) {
        e.target.parentNode.submit();  
      });
    </script>
  </body>
</html>
