@(documents: Seq[models.GeoDocument])(implicit s: play.api.db.slick.Config.driver.simple.Session, flash: Flash)

<html>
  <head>
    <title>PELAGIOS Geo-Resolution Correction Tool</title>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/admin/main.css")" />
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/jquery/jquery-2.0.0.min.js")"></script>
    <script>
      function dropAnnotations(doc) {
        $.ajax({
          type: 'DELETE',
          url: '@controllers.admin.routes.DocumentAdminController.listAll/' + doc + '/annotations',
          success: function() { location.href = '@controllers.admin.routes.DocumentAdminController.listAll'; }
        });
      }
      
      function dropDocument(doc) {
        $.ajax({
          type: 'DELETE',
          url: '@controllers.admin.routes.DocumentAdminController.listAll/' + doc,
          success: function() { location.href = '@controllers.admin.routes.DocumentAdminController.listAll'; }
        });
      }
    </script>
  </head>
  
  <body>
    <div id="header">
      <div id="title">ADMINISTRATION » Documents
        <div id="home-button"><a href="@routes.ApplicationController.index()" class="icon">&#xf015;</a></div>
      </div>
      
      <div id="menu">
        <ul>
          <li class="active"><a href="#" onclick="return false;">Documents</a></li>
          <li><a href="@controllers.admin.routes.UserAdminController.listAll()">Users</a></li>
          <li><a href="@controllers.admin.routes.BackupRestoreController.index()" >Backup &amp; Restore</a></li>
        </ul>
      </div>      
    </div>  
    
    <div id="content">
    
      @flash.get("error").map { message =>
      	<h2>Something's wrong with your uploaded file.</h2>
        <div class="error">
          @Html(message)
        </div>
      }
      
      @flash.get("success").map { message =>
        <div class="success">
          @message
        </div>
      }

	  <div id="upload-new">
        <button class="upload big icon" data-input="upload-documents">&#xf093;</button>
        <h4>Upload Documents (ZIP)</h4>
	  </div>
	          
      @helper.form(action = controllers.admin.routes.DocumentAdminController.uploadDocuments(), 'enctype -> "multipart/form-data") {
        <input type="file" id="upload-documents" name="zip" accept=".zip">
      }
	  
	  <table class="index"> 
	    <thead>
	      <tr>
	        <th>ID</th>
	        <th>Document</th>
	        <th>Language</th>
	        <th># Parts</th>
	        <th># Annotations</th>
	        <th></th>
	      </tr>
	    </thead>
        <tbody>
		  @for(doc <- documents) {
		    <tr>
		      <td>@doc.id.get</td>
		      <td>
		        <a href="@controllers.admin.routes.DocumentAdminController.editDocument(doc.id.get)">
		          @doc.author.map(_ + ": ").getOrElse("") @doc.title @doc.dateComment.map("(" + _ + ")").getOrElse("")
		          <span class="icon" title="Edit Document Metadata">&#xf040;</span>
		        </a>
		      </td>
		      <td class="center">@tags.lang(doc.language)</td>
		      <td class="center">@doc.countParts</td>
		      <td class="center">@doc.countAnnotations</td>
		      <td class="right">
		        <button class="small" title="Download Document (ZIP)" onclick="location.href='@controllers.admin.routes.DocumentAdminController.downloadDocument(doc.id.get)'"><span class="icon">&#xf019;</span></button>
		        <button class="small upload" title="Import from CSV" data-input="import-annotations-doc@doc.id.get">Import Annotations</button>
		        <button class="small red" title="Drop Document" onclick="if (confirm('Are you sure about that?')) dropDocument(@doc.id.get)"><span class="icon">&#xf05e;</span></button>
		        <button class="small red" title="Drop All Annotations from Document" onclick="if (confirm('Are you sure about that?')) dropAnnotations(@doc.id.get)">Delete Annotations</button>
		        
		        @helper.form(action = controllers.admin.routes.DocumentAdminController.uploadAnnotations(doc.id.get), 'enctype -> "multipart/form-data") {
                  <input type="file" id="import-annotations-doc@doc.id.get" name="csv" accept=".csv">
                }
		      </td>
	        </tr>
          }
        </tbody>
      </table>
      
    </div>
     @tags.js_admin_upload()     
  </body>
</html>
    

