@(docPartId: Int, gdocId: Int, form: Form[GeoDocumentPart])

<html>
  <head>
    <title>Recogito > Admin > Document > Part</title>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/admin/main.css")" />
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/jquery/jquery-2.0.0.min.js")"></script>
  </head>
  
  <body>
    <div id="header">
      <div id="title">ADMINISTRATION » Document » Part
        <div id="home-button"><a href="@routes.ApplicationController.index(None)" class="icon">&#xf015;</a></div>
      </div>
      
      <div id="menu">
        <ul>
          <li><a href="@controllers.admin.routes.DocumentAdminController.listAll()">Documents</a></li>
          <li><a href="@controllers.admin.routes.UserAdminController.listAll()">Users</a></li>
          <li><a href="@controllers.admin.routes.BackupRestoreController.index()" >Backup &amp; Restore</a></li>
        </ul>
      </div>      
    </div>
  
    <div id="content">
      @helper.form(controllers.admin.routes.DocumentPartAdminController.updateDocumentPart(docPartId)) { 
        <input name="id" id="id" type="hidden" value="@form("id").value">
        <input name="gdocId" id="gdocId" type="hidden" value="@form("gdocId").value">
        
        <ol>
          <li>
            <label for="sequenceNumber">Page <em>*</em></label>
            <input name="sequenceNumber" id="sequenceNumber" type="text" placeholder="A page or sequence number..." value="@form("sequenceNumber").value">
          </li>
          
      	  <li>
            <label for="title">Title <em>*</em></label>
            <input name="title" id="title" type="text" placeholder="Title..." value="@form("title").value">
          </li>
          
      	  <li>
            <label for="source">Source</label>
            <input name="source" id="source" type="text" placeholder="e.g. 'http://www.perseus.tufts.edu/hopper/text?doc=Perseus%3Atext%3A1999.01.0133'" value="@form("source").value">
          </li>
          
	        <li>
		        <input type="submit" value="SAVE" class="btn primary">
            <input type="button" value="CANCEL" onclick="window.location.href='@controllers.admin.routes.DocumentAdminController.editDocument(gdocId)'" class="btn primary">
		      </li>
        </ol>
      }
    </div>
  </body>
</html>
