@(docId: Int, form: Form[GeoDocument], collections: Seq[String])

<html>
  <head>
    <title>Recogito > Admin > Users</title>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/admin/main.css")" />
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/jquery/jquery-2.0.0.min.js")"></script>
  </head>
  
  <body>
    <div id="header">
      <div id="title">ADMINISTRATION » Users
        <div id="home-button"><a href="@routes.ApplicationController.index(None)" class="icon">&#xf015;</a></div>
      </div>
      
      <div id="menu">
        <ul>
          <li><a href="@controllers.admin.routes.DocumentAdminController.listAll()">Documents</a></li>
          <li><a href="@controllers.admin.routes.UserAdminController.listAll()">Users</a></li>
          <li><a href="@controllers.admin.routes.BackupRestoreController.index()" >Backup &amp; Restore</a></li>
        </ul>
      </div>      
    </div>
  
    <div id="content">
      @helper.form(controllers.admin.routes.DocumentAdminController.updateDocument(docId)) {
      	<input name="id" id="id" type="hidden" value="@form("id").value">
      	
      	<ol>
      	  <li>
            <label for="title">Title <em>*</em></label>
            <input name="title" id="title" type="text" placeholder="Title..." value="@form("title").value">
          </li>
          
          <li>
            <label for="author">Author</label>
            <input name="author" id="author" type="text" placeholder="Author..." value="@form("author").value">
          </li>
          
          <li>
            <label for="description">Description</label>
            <input name="description" id="description" type="text" placeholder="Description..." value="@form("description").value">
          </li>
          
          <li>
            <label for="date">Date (Numeric)</label>
            <input name="date" id="date" type="text" placeholder="e.g. '-760'" value="@form("date").value">
          </li>
          
          <li>   
            <label for="date">Date (Freeform)</label>
            <input name="dateComment" id="dateComment" type="text" placeholder="e.g. '760–710 BC'" value="@form("dateComment").value">
          </li>
          
          <li>
            <label for="openLicense">Open License</label>
            @helper.checkbox(form("openLicense"))
          </li>
          
          <li>
            <label for="date">Language</label>
            <input name="language" id="language" type="text" placeholder="e.g. 'gr'" value="@form("language").value">
          </li>
          
          <li>
            <label for="date">External Identifier</label>
            <input name="extWorkID" id="extWorkID" type="text" placeholder="e.g. 'http://www.wikidata.org/wiki/Q8275'" value="@form("extWorkID").value">
          </li>
          
          <li>
            <label for="source">Source</label>
            <input name="source" id="source" type="text" placeholder="e.g. 'http://www.perseus.tufts.edu/hopper/text?doc=Perseus%3Atext%3A1999.01.0133'" value="@form("source").value">
	      </li>      
	      
          <li>
            <label for="primaryTopicOf">Primary Topic of</label>
            <input name="primaryTopicOf" id="primaryTopicOf" type="text" placeholder="Comma-separated list of URLs" value="@form("primaryTopicOf").value">
	      </li>      
	     
          <li>
            <label for="origin">Origin</label>
            <input name="origin" id="origin" type="text" placeholder="e.g. 'http://pleiades.stoa.org/places/423025'" value="@form("origin").value">
	      </li>
	      
	      <li>
            <label for="findspot">Findspot</label>
            <input name="findspot" id="findspot" type="text" placeholder="e.g. 'http://pleiades.stoa.org/places/423025'" value="@form("findspot").value">
	      </li>
	      
	      <li>
            <label for="authorLocation">Author Location</label>
            <input name="authorLocation" id="authorLocation" type="text" placeholder="e.g. 'http://pleiades.stoa.org/places/423025'" value="@form("authorLocation").value">
	      </li>
	      
	      <li>
	        <label for="comment">Comment</label>
	        <input name="comment" id="commetn" type="text" value="@form("comment").value">
	      </li>
	      
	      <li>
	        <label for="collections">Collections</label>
	        <input name="collections" id="collections" type="text" value="@collections.mkString(", ")">
	        <span>Comma-separated list. Leave empty to remove collection assignments.</span>
	      </li>
	      
	      <li>
		    <input type="submit" value="SAVE" class="btn primary">
		  </li>
        </ol>
	  }      
    </div>
  </body>
</html>
