@(users: Seq[User])

<html>
  <head>
    <title>Recogito > Admin > Users</title>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/admin/main.css")" />
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/jquery/jquery-2.0.0.min.js")"></script>
    <script>
      function deleteUser(username) {
        if (confirm('Delete user "' + username + '". Are you sure about that?')) { 
          $.ajax({
            type: 'DELETE',
            url: '@controllers.admin.routes.UserAdminController.listAll/' + encodeURIComponent(username),
            success: function() { location.href = '@controllers.admin.routes.UserAdminController.listAll'; }
          });
        }
      }
    </script>
  </head>
  
  <body>
    <div id="header">
      <div id="title">ADMINISTRATION » Users
        <div id="home-button"><a href="@controllers.frontpage.routes.FrontPageController.index(None)" class="icon">&#xf015;</a></div>
      </div>
      
      <div id="menu">
        <ul>
          <li><a href="@controllers.admin.routes.DocumentAdminController.listAll()">Documents</a></li>
          <li class="active"><a href="#" onclick="return false;">Users</a></li>
          <li><a href="@controllers.admin.routes.BackupRestoreController.index()" >Backup &amp; Restore</a></li>
          <li><a href="@controllers.admin.routes.ExportsController.index()">Exports</a></li>
        </ul>
      </div>      
    </div>
  
    <div id="content">
	  <div id="admin-actions">
        <button class="button upload lightgrey big icon" onclick="window.location.href='@controllers.admin.routes.UserAdminController.signup()'">&#xf093;</button>
        <h4>Create New User Account</h4>
	  </div>
      
      <table class="index" style="width:auto;">
	      <thead>
	        <tr>
	          <th>Username</th>
	          <th>Editable Documents</th>
	          <th>Is Admin</th>
	          <th></th>
	        </tr>
	      </thead>
        <tbody>
          @for(user <- users) {
            <tr>
              <td>@user.username</td>
              <td>@user.editableDocuments</td>
              <td class="center">
                @if(user.isAdmin) {
                  <span class="icon">&#xf00c;</span>
                }
              </td>
              <td>
                <button class="small red" onclick="deleteUser('@user.username')">
                  <span class="icon">&#xf05e;</span> Delete User
                </button>
              </td>
            </tr>  
          }
      </table>
    </div>
  </body>
</html>
    

