html, body {
  line-height:140%;
  font-family:Arial, Verdana, Helvetica, sans-serif;
  margin:0;
  padding:15px 30px;
  font-size:14px;
}

h1 {
  font-size:20px;
}

table {
  border-collapse:collapse;
  margin-bottom:10px;
}

td {
  font-size:14px;
  padding:2px 5px;
}

thead td {
  font-weight:bold;
}

td.action {
  background-color:#fff;
}

td a {
  color:#454545;
}

tbody tr:nth-child(odd) {
  background-color:#D8DAF2;
}

tbody tr:nth-child(even) {
  background-color:#EDEFFA;
}

.egd-container {
  padding:20px 0px;
}

.import-annotations {
  display:inline-block;
  vertical-align:top;
}
      
.import-annotations-form, .upload-documents-form {
  display:none;
}
