#fulltext {
  padding:20px;
  line-height:140%;
  font-family:"Times New Roman", Times, serif;
  font-size:17px;
}

.annotation {
  background-color:#bbb;
  border-bottom:1px dotted #333;
}

.annotation.verified {
  background-color:#88ee88;
  border-bottom:1px dotted #339933;
}

.annotation.corrected {
  background-color:#f2ee00;
  border-bottom:1px dotted #99940b;
}

.annotation-editor {
  position:absolute;
  background-color:#fff;
  width:300px;
  -moz-box-shadow:1px 1px 20px 8px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow:1px 1px 20px 8px rgba(0, 0, 0, 0.4);
  box-shadow:1px 1px 20px 8px rgba(0, 0, 0, 0.4);
  border-width:0px 1px 1px 1px;
  border-style:solid;
  border-color:#898989;
}

.annotation-editor-header {
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size:16px;
  padding:6px;
  color:#fff;
  text-shadow:1px 1px 1px #333;
  background-color:#494949;
  border-top:1px solid #686868;
  border-bottom:1px solid #999;
  background:-webkit-gradient(linear,left top,left bottom,from(#5a5a5a),to(#494949));
  background:-moz-linear-gradient(top,#5a5a5a,#494949);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#5a5a5a',endColorstr='#494949');
  cursor:move;
}

.annotation-editor-body {
  text-align:center;
  padding:0px 10px;
}

.annotation-editor-selection {
  display:inline-block;
  padding:2px;
  margin:15px auto 10px auto;
  background-color:#bbb;
  border-bottom:1px dotted #333;  
}

.annotation-editor-message {
  display:block;
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size:14px;
  margin:0 5px 10px 5px;
  line-height:140%;
}

.annotation-editor-buttons {
  text-align:center;
  padding:0px 15px 10px 15px;
}


