#fulltext {
  padding:20px;
  line-height:140%;
  font-family:"Times New Roman", Times, serif;
  font-size:17px;
}

.annotation {
  background-color:#bbb;
  border-bottom:1px dotted #333;
}

.annotation.verified {
  background-color:#88ee88;
  border-bottom:1px dotted #339933;
}

.annotation.corrected {
  background-color:#f2ee00;
  border-bottom:1px dotted #99940b;
}

.annotation-editor {
  position:absolute;
  background-color:#fff;
  width:300px;
  -moz-box-shadow:2px 2px 18px 6px #4a4a4a;
  -webkit-box-shadow:2px 2px 18px 6px #4a4a4a;
  box-shadow:2px 2px 18px 6px #4a4a4a;
  -moz-border-radius:2px;
  -webkit-border-radius:2px;
  -khtml-border-radius:2px;
  border-radius:2px;
  border-width:1px;
  border-style:solid;
  border-color:#6a6a6a #4a4a4a #4a4a4a #6a6a6a;
}

.annotation-editor-header {
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size:16px;
  background-color:#626262;
  padding:6px;
  color:#fff;
  text-shadow:1px 1px 1px #333;
}

.annotation-editor-body {
  text-align:center;
  padding:0px 10px;
}

.annotation-editor-selection {
  display:inline-block;
  padding:2px;
  margin:15px auto 10px auto;
  background-color:#bbb;
  border-bottom:1px dotted #333;  
}

.annotation-editor-message {
  display:block;
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size:14px;
  margin:0 5px 10px 5px;
  line-height:140%;
}

.annotation-editor-buttons {
  text-align:center;
  padding:0px 15px 10px 15px;
}


