html, body, #map {
  width:100%;
  height:100%;
  margin:0;
  padding:0;
}

#meta {
  position:absolute;
  background-color:#fff;
  padding:12px 14px;
  bottom:20px;
  left:20px;
  font-family:Arial, Sans, Verdana;
  font-size:12px;
  color:#000;
  max-width:40%; 
  -moz-box-shadow:1px 1px 20px 8px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow:1px 1px 20px 8px rgba(0, 0, 0, 0.4);
  box-shadow:1px 1px 20px 8px rgba(0, 0, 0, 0.4);
  border:1px solid #595959;
}
      
#meta h1 {
  font-size:14px;
  padding:0;
  margin:0;
}   

.publicmap-layerswitcher {
  position:absolute;
  top:20px;
  right:20px;
  padding:0;
  margin:0;
  background-color:#fff;  
  -moz-box-shadow:1px 1px 20px 8px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow:1px 1px 20px 8px rgba(0, 0, 0, 0.4);
  box-shadow:1px 1px 20px 8px rgba(0, 0, 0, 0.4);
  border:1px solid #595959;
}

.publicmap-layerswitcher table {
  margin:0px 14px;
  padding:12px 0px;
}

.publicmap-layerswitcher .table-header td {
  font-weight:bold;
  padding-bottom:5px;
}

.publicmap-layerswitcher td {
  font-size:12px;
  padding-right:4px;
}

.publicmap-layerswitcher td a {
  color:#555;
}

.publicmap-layerswitcher .part-title {
  color:#fff;
  padding:2px 8px 0px 8px; 
  margin:2px 0px 4px 0px;
  display:inline-block;
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  -khtml-border-radius:3px;
  border-radius:3px;
}

.publicmap-layerswitcher .centered {
  text-align:center;
}

.publicmap-layerswitcher-all {
  background-color:#ddd;
  border-top:1px solid #ccc;
}

.publicmap-popup {
  font-family:"Times New Roman", Times, serif;
  font-size:14px;
}

.publicmap-popup .toponym {
  font-weight:bold;
  font-style:italic;
  font-size:16px;
}

.publicmap-popup p {
  margin:0;
  padding:0 0 10px 0;
}

.publicmap-popup em {
  font-style:normal;
  background-color:#ffaaaa;
}

.publicmap-popup .link {
  padding:0;
} 
