#text {
  padding:20px;
  line-height:140%;
  font-family:"Times New Roman", Times, serif;
  font-size:17px;
}

.annotation {
  background-color:#bbb;
  border-bottom:1px dotted #333;
}

.annotation.verified {
  background-color:#88ee88;
  border-bottom:1px dotted #339933;
}

.annotation.ignore {
  background-color:transparent;
}

.annotation.not-identifyable {
  background-color:#f2ee00;
  border-bottom:1px dotted #99940b;
}

.annotation-editor {
  position:absolute;
  background-color:#fff;
  width:300px;
  -moz-box-shadow:1px 1px 20px 8px rgba(0, 0, 0, 0.4);
  -webkit-box-shadow:1px 1px 20px 8px rgba(0, 0, 0, 0.4);
  box-shadow:1px 1px 20px 8px rgba(0, 0, 0, 0.4);
  border-width:0px 1px 1px 1px;
  border-style:solid;
  border-color:#595959;
}

.annotation-editor-header {
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size:16px;
  padding:6px;
  color:#fff;
  text-shadow:1px 1px 1px #333;
  background-color:#494949;
  border-top:1px solid #595959;
  border-bottom:1px solid #777;
  background:-webkit-gradient(linear,left top,left bottom,from(#4a4a4a),to(#292929));
  background:-moz-linear-gradient(top,#4a4a4a,#292929);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#4a4a4a',endColorstr='#292929');
  cursor:move;
}

.annotation-editor-body {
  text-align:center;
  padding:0px 10px;
}

.annotation-editor-selection {
  display:inline-block;
  padding:2px;
  margin:15px auto 10px auto;
  background-color:#f2ee00;
  border-bottom:1px dotted #99940b;
}

.annotation-editor-message {
  display:block;
  font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size:14px;
  margin:0 5px 10px 5px;
  line-height:140%;
}

.annotation-editor-buttons {
  text-align:center;
  padding:5px 15px 15px 15px;
}

.annotation-editor-button  {
  -webkit-border-radius: 3px;
  -moz-border-radius: 3px;
  border-radius: 3px;
  font:bold 11px "Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", Geneva, Verdana, sans-serif;
  line-height: 1;
  padding: 4px 0 6px 0;
  text-align: center;
  width: 70px;
  cursor: pointer; 
}

.button-ok {
  background-color:#7fbf4d;
  background-image:-webkit-gradient(linear, left top, left bottom, color-stop(0%, #7fbf4d), color-stop(100%, #63a62f));
  background-image:-webkit-linear-gradient(top, #7fbf4d, #63a62f);
  background-image:-moz-linear-gradient(top, #7fbf4d, #63a62f);
  background-image:-ms-linear-gradient(top, #7fbf4d, #63a62f);
  background-image:-o-linear-gradient(top, #7fbf4d, #63a62f);
  background-image:linear-gradient(top, #7fbf4d, #63a62f);
  border:1px solid #63a62f;
  border-bottom:1px solid #5b992b;
  -webkit-box-shadow: inset 0 1px 0 0 #96ca6d;
  -moz-box-shadow: inset 0 1px 0 0 #96ca6d;
  box-shadow: inset 0 1px 0 0 #96ca6d;
  color: #fff;
  text-shadow: 0 -1px 0 #4c9021;
}

.button-ok:hover {
  background-color: #76b347;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #76b347), color-stop(100%, #5e9e2e));
  background-image: -webkit-linear-gradient(top, #76b347, #5e9e2e);
  background-image: -moz-linear-gradient(top, #76b347, #5e9e2e);
  background-image: -ms-linear-gradient(top, #76b347, #5e9e2e);
  background-image: -o-linear-gradient(top, #76b347, #5e9e2e);
  background-image: linear-gradient(top, #76b347, #5e9e2e);
  -webkit-box-shadow: inset 0 1px 0 0 #8dbf67;
  -moz-box-shadow: inset 0 1px 0 0 #8dbf67;
  box-shadow: inset 0 1px 0 0 #8dbf67;
}

.button-ok:active {
  border: 1px solid #5b992b;
  border-bottom: 1px solid #538c27;
  -webkit-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
  -moz-box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee;
  box-shadow: inset 0 0 8px 4px #548c29, 0 1px 0 0 #eeeeee; 
}

.button-cancel {
  background-color: #eeeeee;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #eeeeee), color-stop(100%, #cccccc));
  background-image: -webkit-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -moz-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -ms-linear-gradient(top, #eeeeee, #cccccc);
  background-image: -o-linear-gradient(top, #eeeeee, #cccccc);
  background-image: linear-gradient(top, #eeeeee, #cccccc);
  border: 1px solid #ccc;
  border-bottom: 1px solid #bbb;
  color: #333;
}

.button-cancel:hover {
  background-color: #dddddd;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #dddddd), color-stop(100%, #bbbbbb));
  background-image: -webkit-linear-gradient(top, #dddddd, #bbbbbb);
  background-image: -moz-linear-gradient(top, #dddddd, #bbbbbb);
  background-image: -ms-linear-gradient(top, #dddddd, #bbbbbb);
  background-image: -o-linear-gradient(top, #dddddd, #bbbbbb);
  background-image: linear-gradient(top, #dddddd, #bbbbbb);
  border: 1px solid #bbb;
  border-bottom: 1px solid #999;
  text-shadow: 0 1px 0 #ddd;
}

.button-cancle:active {
  border: 1px solid #aaa;
  border-bottom: 1px solid #888;
  -webkit-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
  -moz-box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
  box-shadow: inset 0 0 5px 2px #aaaaaa, 0 1px 0 0 #eeeeee;
}



