form {

  ol {
    margin:0;
    padding:0;
    
    li {
      list-style: none;
      padding: 5px;
      margin: 0;
    }
    
  }

  label {
    width:150px;
    display: inline-block;
    line-height: 1.8;
    vertical-align: top;
  }
  
  dd, dl { 
    display: inline;
    margin-left:0;
    padding-left:0; 
  }
  
  input[type="checkbox"] { display: inline; }
  
  /** Ignore Play-generated helper for now (a legacy of Bojan's hack...) **/
  dt, dd.info { display: none; }
  
  input[type="text"] {
    width:350px;
    padding:2px;
    margin-right:8px;
  }
  
  em {
    font-weight: bold;
    font-style: normal;
    color: #f00;
  }
  
}
