html, body, div {
  padding:0;
  margin:0;
  font-family:Arial, Verdana, Helvetica, sans-serif;
}

#table {
  position:absolute;
  top:0px:
  left:0px;
  width:40%;
  height:100%;	
  background-color:#505050 ;
}

#map {
  position:absolute;
  top:0px;
  right:0px;
  width:60%;
  height:100%;
}

.slick-viewport {
  background-color:#eeeeee;
}

.slick-header-column.ui-state-default {
  background-color:#505050 ;
  color:#eeeeee;  
  border:none;  
  padding:0 5px;
  font-size:13px;
  height:35px;
  line-height:35px;   
  width:100%;s 
}

.slick-row.ui-widget-content, .slick-cell {
  background-color:#eeeeee;
  color:#666666;
  font-size:13px;
  padding:0 5px;
  height:30px;
  line-height:20px;
}

.slick-cell a {
  color:#222;
}

.slick-cell a:hover {
  color:#777;
}

.slick-cell.selected {
  background-color:#FFA52C;
} 

.clicktrap {
  position:absolute;
  top:0px;
  left:0px;
  z-index:99999;
  width:100%;
  height:100%;
  background-color:rgba(0, 0, 0, 0.6);
}

.details-popup {
  position:absolute;
  top:5%;
  left:5%;
  width:90%;
  height:90%;
  background-color:#eee;
  z-index:99999;
  -moz-box-shadow:0px 0px 5px 6px #222;
  -webkit-box-shadow:0px 0px 5px 6px #222;
  box-shadow:0px 0px 5px 6px #222;
  font-size:13px;
}

.details-popup td {
  font-size:13px;
  padding-right:5px;
}

.details-popup h3 {
  padding-bottom:0px;
  margin-bottom:5px;
  margin-top:20px;
}

.details-popup-header {
  width:100%;
  height:40px;
  background-color:#505050;
}

.details-popup-header-exit {
  display:inline-block;
  padding:5px 15px;
  border:1px solid #000;
  font-size:14px;
  margin:5px;
  color:#fff;
  position:absolute;
  top:0px;
  right:5px;
  cursor:pointer;
  -moz-box-shadow:inset 0 1px 1px rgba(255,255,255,0.25),0 1px 1px rgba(255,255,255,0.25);
  -webkit-box-shadow:inset 0 1px 1px rgba(255,255,255,0.25),0 1px 1px rgba(255,255,255,0.25);
  box-shadow:inset 0 1px 1px rgba(255,255,255,0.25),0 1px 1px rgba(255,255,255,0.25);
  -moz-border-radius:3px;
  -webkit-border-radius:3px;
  -khtml-border-radius:3px;
  border-radius:3px;
  background:-webkit-gradient(linear,left top,left bottom,from(#FFA52C),to(#FB7B28));
  background:-moz-linear-gradient(top,#FFA52C,#FB7B28);
  filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFA52C',endColorstr='#FB7B28');
}

.details-popup-content {
  padding:10px 20px;
}

.details-popup-map {
  width:500px;
  height:400px;
  float:right;
  margin:10px;
  border:1px solid #000;
}

.details-popup-content-candidates tr.hilighted {
  background-color:#FFA52C;
}


