@(event: EditEvent, gdoc: Option[GeoDocument])
<tr>
  <td><a href="@controllers.user.routes.UserController.showPublicProfile(event.username)">@event.username</a></td>
  <td>
    @if(event.uriChange.isDefined) {
      @event.uriChange.get._1 match {
      	case Some(oldURI) => { URI from <a href="@oldURI">@tags.gazetteerURI(oldURI)</a> to <a href="@event.uriChange.get._2">@tags.gazetteerURI(event.uriChange.get._2)</a> }
      	case None => { Set URI <a href="@event.uriChange.get._2">@tags.gazetteerURI(event.uriChange.get._2)</a> }
      }	
    } else { @if(event.toponymChange.isDefined) {
      @event.toponymChange.get._1 match {
        case Some(oldToponym) => { @oldToponym to @event.toponymChange.get._2 }
        case None => { @event.toponymChange.get._2 }
      }
    } else { @if(event.statusChange.isDefined) {
      @event.statusChange.get._1 match {
        case Some(oldStatus) => { Status from @tags.annotationStatus(oldStatus) to @tags.annotationStatus(event.statusChange.get._2) }
        case None => { Status to @event.statusChange.get._2 }
      }
    }}}
  </td>
  <td>
    @if(gdoc.isDefined) {
      <a href="@controllers.unrestricted.routes.DocumentController.showMap(gdoc.get.id.get)">
        @gdoc.get.author.map(_ + ": ")
        @gdoc.get.title
      </a>
    }
  </td>
  <td class="timeago" title="@event.timestamp.format("yyyy-MM-dd'T'HH:mm:ssZ")">@event.timestamp.format("yyyy-MM-dd'T'HH:mm:ssZ")</td>
</tr>
