@import "../globals.less";
@import "../header.less";
@import "../categorytag.less";

#content {
  padding:120px 0 90px 0;
  width:800px;
  margin:0 auto;
  position:relative;
  
  em {
    color:#424242;
    font-size:16px;
    font-weight:bold;
    font-style:normal;
    text-shadow:1px 1px rgba(0,0,0,0.2);
    padding-right:4px;
  } /* em */
  
  a {
    font-weight:300;
    text-decoration:none;
    color:#555;
  }
    
  .stats {
    position:absolute;
    top:125px; 
    font-size:15px;
    line-height:24px;
    padding-bottom:20px;
    white-space:nowrap; 

    canvas { 
      display:block;
      float:left;
      padding-bottom:30px;
    }
    
    span { 
      margin-bottom:6px;
      display:block; 
    } /* span */

  } /* .stats */
  
  .annotation-stats {
    left:-50px;       
  } 
  
  .contributor-stats {
    left:480px;
    
    p {
      padding:0;
      margin:0;
    }
    
  }
  
  h2 {
    clear:both;
    font-weight:normal;
    font-size:15px;
    padding:20px 0 10px 0;
  }
  
  #unique-places {
    position:absolute;
    top:320px;
    width:100%;

    table {
      border-collapse:collapse;
      width:100%;
        
      tr {
        border-color:#d5d5d5;
        border-style:solid;
        border-width:0 0 1px 0;
      } /* tr */
    
      td {
        padding:3px 16px 2px 2px;
        line-height:160%;
        vertical-align:top;    
      } /* td */
    
      td.references { 
        white-space:nowrap; 
        font-size:12px;
        text-align:right;
      }
        
      td em { 
        font-size:14px; 
        font-weight:normal;
      }
    
    } /* table */
  
  } /* #unique-places */
  
}
