.annotation-editor {
  
  .body {

    .selection {
      display:inline-block;
      padding:2px;
      margin:15px auto 0 auto;
      background-color:#f2ee00;
      border-bottom:1px dotted #99940b;
    }
    
  } /* .body */
  
}
