@import "../globals.less";
@import "../header.less";
@import "../footer.less";

html, body {
  height:100%;
}

#header {
  position:static !important;
}

#annotation-area {
  position:absolute;
  width:100%;
  top:0;
  bottom:0;
}

#ol {
  width:100%;
  height:100%;
}
