@import "../globals.less";
@import "../header.less";
@import "../footer.less";

#content {
  position:absolute;
  top:0;
  bottom:0;
  left:2%;
  right:2%;
  box-sizing:border-box;
  padding:170px 0 70px 0;
}

#ol {
  width:100%;
  height:100%;
}