@()
<html>
  <head>
    <title>About RECOGITO</title>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/about/main.css")" />
  </head>
  
  <body>
    <div class="column">
      <div id="title">
        <h1>Recogito</h1>
      </div>
      <a id="home-button" href="@controllers.frontpage.routes.FrontPageController.index(None)" class="icon">&#xf015;</a>
      
      <div id="content">
	    <p>Recogito is being developed by the <a href="http://pelagios-project.blogspot.co.uk" target="_blank">Pelagios 
	    project</a> with funding from the <a href="http://www.mellon.org" target="_blank">Andrew W. Mellon Foundation</a>.</p>
	    
            <p>If you are interested in the Pelagios project, or would like to contribute content to it, we'd love to
            hear from you. Please feel free to get in touch with one of the project directors.</p>

            <p><a href="http://www.southampton.ac.uk/archaeology/about/staff/li103.page">Dr Leif Isaksen (Project Director)</a><br/>
            University of Southampton</br>
            l.isaksen (at) soton.ac.uk</p>

            <p><a href="http://www.open.ac.uk/Arts/classical-studies/barker.shtml">Dr Elton Barker (Community Director)</a><br/>
            The Open University<br/>
            e.t.e.barker (at) open.ac.uk</p>

            <p><a href="http://rsimon.github.io/">Dr Rainer Simon (Technical Director)</a><br/>
            AIT Austrian Institute of Technology<br/>
            rainer.simon (at) ait.ac.at</p>
	  </div> <!-- #content -->
    </div> <!-- .column -->
  </body>
</html>
