@()(implicit s: play.api.db.slick.Config.driver.simple.Session)

<html>
  <head>
    <title>PELAGIOS Geo-Resolution Correction Tool</title>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/admin.css")" />
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/jquery/jquery-2.0.0.min.js")"></script>
    <script>
      function toggleImportForm(id) {
        var el = document.getElementById(id);
        if (el.style.display == 'block')
            el.style.display = 'none';
        else
            el.style.display = 'block';
      }

      function dropAnnotations(doc) {
        $.ajax({
          type: 'DELETE',
          url: '@routes.AdminController.index/annotations?doc=' + doc,
          success: function() { location.href = '@routes.AdminController.index'; }
        });
      }
      
      function dropDocument(doc) {
        $.ajax({
          type: 'DELETE',
          url: '@routes.DocumentController.listAll/' + doc,
          success: function() { location.href = '@routes.AdminController.index'; }
        });
      }
    </script>
  </head>
  
  <body>
    <div class="upload-documents">
      <button class="big" onclick="toggleImportForm('upload-documents')">Upload Documents</button> 
      (ZIP with JSON metadata + text as UTF-8 plaintext files) 
      
      <div class="upload-documents-form" id="upload-documents">
        @helper.form(action = routes.AdminController.uploadDocuments(), 'enctype -> "multipart/form-data") {
          <input type="file" name="zip" value="Upload ZIP" />
          <input type="submit" value="Upload!" />
        }
      </div>
      
      <div class="download-all">
        <button class="big" onclick="location.href='@routes.AdminController.backupAll()'">Download All Documents</button>
      </div>
    </div>
    @for(egd <- models.GeoDocuments.listAll) {
      <div class="egd-container">
        <h1>@egd.title</h1>
        @defining(models.GeoDocumentParts.findByGeoDocument(egd.id.get)) { parts =>
          @if(parts.size > 0) {
            <table>
              <thead>
        	    <tr>
        	      <td>ID</td>
      	          <td>Title</td>
      	          <td>Source</td>
      	          <td># Annotations</td>
      	        </tr>
      	      </thead>
      	      <tbody>
                @for(part <- parts) {
                  <tr>
                    <td>@part.id</td>
                    <td>@part.title</td>
                    <td><a href="@part.source" target="_blank">@part.source</a></td>
                    <td>@models.Annotations.countForGeoDocumentPart(part.id.get)</td>
                    <td class="action"><button onclick="location.href='@routes.AdminController.backupAnnotations(None, part.id)'">CSV Backup</button></td>
                  </tr>
                }
              </tbody>
            </table>
          } else {
            <p>@models.Annotations.countForGeoDocument(egd.id.get) Annotations</p>
          }
          <button onclick="location.href='@routes.AdminController.backupSingle(egd.id.get)'">Download ZIP</button>
          <button onclick="location.href='@routes.AdminController.backupAnnotations(egd.id, None)'">CSV Backup (Entire Document)</button>
          <button onclick="if (confirm('Are you sure about that?')) dropAnnotations(@egd.id.get)">Drop All Annotations</button>
          <button onclick="if (confirm('Are you sure about that?')) dropDocument(@egd.id.get)">Drop Document</button>
          <div class="import-annotations">
            <button onclick="toggleImportForm('@egd.id.get')">Import CSV</button>
            <div class="import-annotations-form" id="@egd.id.get">
              @helper.form(action = routes.AdminController.importAnnotations(egd.id.get), 'enctype -> "multipart/form-data") {
                <input type="file" name="csv" value="Import CSV" />
                <input type="submit" value="IMPORT!" />
              }
            </div>
          </div>
        }
      </div>
    }
  </body>
</html>
    

