@(doc: GeoDocument, image: models.content.GeoDocumentImage, username: String)
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>RECOGITO Image Annotation</title>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/annotation/image.css")">
    <link rel="stylesheet" href="@routes.Assets.at("javascripts/lib/ol3.0.0-gamma.4/ol.css")">
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/jquery/jquery-2.0.0.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/timeago/jquery.timeago.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/ol3.0.0-gamma.4/ol.js")"></script>
    @helper.requireJs(core = routes.Assets.at("javascripts/require.js").url, module = routes.Assets.at("javascripts/annotation/image/main").url)
    <script>
      var config = {
        'width': 12224,
        'height': 6021,
        'url': 'http://localhost:9000/recogito/static/images/gough-zoomify/'
      };
      
      $(document).ready(function() {
        var header = $('#header'),
            footer = $('#footer'),
            annotationArea = $('#annotation-area');
            
        annotationArea.css({
          'top': header.height(), 
          'bottom': footer.height() + 10 });
      })
    </script>
  </head>
  
  <body>
    <div id="header">
      <div id="title">
        @doc.author.map(_ + ": ").getOrElse("") @doc.title
        @doc.dateComment.map("(" + _ + ")").getOrElse("")
        <div id="home-button"><a href="@routes.ApplicationController.index(None)" class="icon">&#xf015;</a></div>
      </div>
      
      <div id="menu">
        <ul>
          <li><li class="disabled"><a href="#" title="There is no text available for this document" onclick="return false;">Image</a></li>
          <li><a href="@routes.ApplicationController.showGeoResolutionUI(doc.id.get)">Geo-Resolution</a></li>
          <li><a href="@routes.StatsController.showDocumentStats(doc.id.get)">Document Stats</a></li>
        </ul>
      </div>
      
      <div id="toolbar">
        <div class="tool selected navigate" title="Move Image">
          <span class="icon">&#xf047;</span>
        </div>   
        
        <div class="tool annotate" title="Annotate Image">
          <span class="icon">&#xf040;</span>
        </div>   
      </div>
    </div>   
    
    <div id="annotation-area">
      <div id="ol-viewer"></div>
      <canvas id="drawing-canvas"></canvas>
    </div>
      
    <div id="footer">
      <div id="user">
        You are logged in as <span id="username">@username</span> <a href="@routes.AuthController.logout" class="icon">&#xf011;</a>
      </div>
    </div>
  </body>
</html>
