@(doc: GeoDocument, texts: Seq[(models.GeoDocumentText, Option[String])], username: String, part: Option[GeoDocumentPart], textHTML: String)

<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>RECOGITO Text Annotation</title>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/annotation/main.css")" />
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/jquery/jquery-2.0.0.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/jquery/jquery-ui-1.10.3.custom.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/rangy/rangy-core-1.2.3.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/annotation/rcgt-annotation.js")"></script>
    @tags.js_text_menu()
    <script>
    $(document).ready(function() {
      new recogito.TextAnnotationUI(document.getElementById('text'), @doc.id,  @part.map(_.id.get.toString).getOrElse("false")); 
    })
    </script>
  </head>
  
  <body>
    <div id="header">
      <div id="title">
        @doc.author.map(_ + ": ").getOrElse("") @doc.title @doc.dateComment.map("(" + _ + ")").getOrElse("")
        @part.map(" - " + _.title).getOrElse("")
        <div id="home-button"><a href="@routes.ApplicationController.index()" class="icon">&#xf015;</a></div>
      </div>
      
      <div id="menu">
        <ul>
          <li><a href="@routes.ApplicationController.showDocumentStats(doc.id.get)">Document Stats</a></li>
          @if(texts.size < 2) {
            <li class="disabled"><a href="#" title="There is no text available for this document" onclick="return false;">Text</a>
          } else {
            <li><a href="#" id="dropdown-text-trigger" onclick="return false;">Text <span class="icon">&#xf0d7;</span></a>   
          }
          <li><a href="@routes.ApplicationController.showGeoResolutionUI(doc.id.get)">Geo-Resolution</a></li>
        </ul>
      </div>
      
      @if(texts.size > 1) {
        <div id="dropdown-text-menu">
          <ul>
            @for(text <- texts) {
              <li><a href="@routes.ApplicationController.showTextAnnotationUI(text._1.id.get)">@text._2.getOrElse("[untitled]")</a></li>
            }
          </ul>
        </div>
      }
      
      <div id="toolbar">
        <div class="tool selected normal-annotation" title="Toponym Annotation">
          <span class="icon">&#xf040;</span>
        </div>   
        
        <div class="tool rocket-annotation" title="Quick Toponym Annotation (No Confirmation Dialog)">
          <span class="icon">&#xf135;</span>
        </div>   
      </div>
    </div>   
    
    <div id="content">
      <div id="text">
@Html(textHTML)
      </div>
    </div>
    
    <div id="footer">
      <!-- 615 Annotations  
      <span class="icon">&#xf14a;</span> 577  
      <span class="icon">&#xf024;</span> 21   
      <span class="icon">&#xf057;</span> 0  
      <span class="icon">&#xf05e;</span> 0
      -   97.1% Complete  -->
      
      <div id="user">
        You are logged in as <span id="username">@username</span> <a href="@routes.AuthController.logout" class="icon">&#xf011;</a>
      </div>
    </div>
  </body>
</html>
