@(doc: models.GeoDocument)(implicit s: play.api.db.slick.Config.driver.simple.Session)
<html>
  <head>
    <title>@doc.author.map(_ + ":").getOrElse("") @doc.title</title>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/jquery/jquery-2.0.0.min.js")"></script>
  </head>
  
  <body>
    <h1>@doc.author.map(_ + ": ").getOrElse("") @doc.title @doc.dateComment.map("(" + _ + ")").getOrElse("")</h1>
    
    @* Optimize - just fetch annotations from DB once and then compute all stats in mem *@
    @defining(Annotations.findByGeoDocumentAndStatus(doc.id.get, AnnotationStatus.VERIFIED, AnnotationStatus.NOT_VERIFIED, AnnotationStatus.NOT_IDENTIFYABLE)) { annotations =>    
      <div class="stats">
        @doc.totalToponymCount Toponyms Total (not counting ignored and false matches)<br/>
        @{doc.totalToponymCount - doc.unverifiedToponymCount} Toponyms Controlled (Verified + Not identifyable)</br>
        @annotations.filter(a => a.validGazetteerURI.isDefined && a.validGazetteerURI.get.trim.size > 0).size Toponyms mapped to Gazetteer URIs<br/>
        @{ "%.2f" format (doc.completionRatio * 100) } % Complete</br>
        @{ "%.2f" format (doc.identificiationRatio * 100) } % Identification rate (Verified vs. Not identifyable)<br/>
        NER recall: @{ "%.2f" format (doc.nerRecall * 100) } %<br/>
        NER precision: @{ "%.2f" format (doc.nerPrecision * 100) } %</br> 
        Resolution correctness: @{ "%.2f" format (doc.resolutionCorrectness * 100) } % 
      </div>
    
      <h3>Unique Tags:</h3>
      <p>@models.stats.AnnotationStats.uniqueTags(annotations).mkString(", ")</p>
      
      @defining(models.stats.AnnotationStats.uniquePlaceCategories(annotations)) { categories =>
        <h3>Place Categories:</h3>
        @for(tuple <- categories) {
          @tuple._1.getOrElse("[uncategorized]"): @tuple._2<br/>
        }
      }
             
      @defining(models.stats.AnnotationStats.uniquePlaces(annotations)) { places => 
        <h3>Unique Places: @places.size</h3>
        @for(tuple <- places) {
          <a href="@tuple._1.uri">@tuple._1.title</a> (@tuple._2)<br/>
        }
      }
    }
  </body>
</html>