@(doc: models.GeoDocument, texts: Seq[(models.GeoDocumentText, Option[String])], username: String)(implicit s: play.api.db.slick.Config.driver.simple.Session)
<html>
  <head>
    <title>RECOGITO Geo-Resolution</title>
    <link rel="stylesheet" href="@routes.Assets.at("javascripts/lib/slickgrid/slick.grid.css")" />
    <link rel="related" type="application/json" href="@routes.DocumentController.get(doc.id.get, Some("json"))" />
    <link rel="stylesheet" href="@routes.Assets.at("javascripts/lib/leaflet/leaflet.css")" />
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/georesolution/main.css")" />
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/jquery/jquery-2.0.0.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/jquery/jquery.event.drag-2.2.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/slickgrid/slick.core.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/slickgrid/slick.grid.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/slickgrid/slick.rowselectionmodel.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/slickgrid/slick.dataview.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/leaflet/leaflet.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/leaflet/leaflet.textpath.js")"></script>
    @helper.requireJs(core = routes.Assets.at("javascripts/require.js").url, module = routes.Assets.at("javascripts/georesolution").url)
    @if(texts.size > 1) { 
      @tags.js_text_menu() 
    }
    <base href="@routes.ApplicationController.index()">
  </head>
  
  <body>
    <div id="header">
      <div id="title">
        @doc.author.map(_ + ": ").getOrElse("") @doc.title @doc.dateComment.map("(" + _ + ")").getOrElse("")
        <div id="home-button"><a href="@routes.ApplicationController.index()" class="icon">&#xf015;</a></div>
      </div>
      
      <div id="menu">
        <ul>
          <li><a href="@routes.ApplicationController.showDocumentStats(doc.id.get)">Document Stats</a></li>
          @if(texts.size == 0) {
            <li class="disabled"><a href="#" title="There is no text available for this document" onclick="return false;">Text</a>
          } else {
            @if(texts.size == 1) {
              <li><a href="@routes.ApplicationController.showTextAnnotationUI(texts(0)._1.id.get, None)">Text</a></li>  
            } else {
              <li><a href="#" id="dropdown-text-trigger" onclick="return false;">Text <span class="icon">&#xf0d7;</span></a>
            }          
          }
          <li class="active"><a href="#" onclick="return false;">Geo-Resolution</a></li>
        </ul>
      </div>
      
      @if(texts.size > 1) {
        <div id="dropdown-text-menu">
          <ul>
            @for(text <- texts) {
              <li><a href="@routes.ApplicationController.showTextAnnotationUI(text._1.id.get, None)">@text._2.getOrElse("[untitled]")</a></li>
            }
          </ul>
        </div>
      }
    </div>
    
    <div id="content">
      <div id="table"></div>
      <div id="map"></div>
    </div>
    
    <div id="footer">
      <div id="footer-info"></div>
      <div id="user">
        You are logged in as <span id="username">@username</span> <a href="@routes.AuthController.logout" class="icon">&#xf011;</a>
      </div>
    </div>
  </body>
</html>
