@(doc: models.GeoDocument, content: Seq[(GeoDocumentContent, Option[String])], username: String)(implicit s: play.api.db.slick.Config.driver.simple.Session)
<!DOCTYPE html>
<html>
  <head>
    <title>RECOGITO Geo-Resolution</title>
    <link rel="stylesheet" href="@routes.Assets.at("javascripts/lib/slickgrid/slick.grid.css")" />
    <link rel="related" type="application/json" href="@routes.DocumentController.get(doc.id.get, Some("json"))" />
    <link rel="stylesheet" href="@routes.Assets.at("javascripts/lib/leaflet/leaflet.css")" />
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/georesolution/main.css")" />
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/jquery/jquery-2.0.0.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/jquery/jquery.event.drag-2.2.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/slickgrid/slick.core.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/slickgrid/slick.grid.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/slickgrid/slick.rowselectionmodel.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/slickgrid/slick.dataview.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/leaflet/leaflet.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/leaflet/leaflet.bing.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/leaflet/leaflet.textpath.js")"></script>
    @helper.requireJs(core = routes.Assets.at("javascripts/require.js").url, module = routes.Assets.at("javascripts/georesolution").url)
    @if(content.size > 1) { 
      @tags.js_text_menu() 
    }
    <base href="@routes.ApplicationController.index(None)">
  </head>
  
  <body>
    <div id="header">
      <div id="title">
        @doc.author.map(_ + ": ").getOrElse("") @doc.title @doc.dateComment.map("(" + _ + ")").getOrElse("")
        <div id="home-button"><a href="@routes.ApplicationController.index(None)" class="icon">&#xf015;</a></div>
      </div>
      
      <div id="menu">
        <ul>
          @if(content.size == 0) {
            <li class="disabled"><a href="#" title="There is no text available for this document" onclick="return false;">Text</a>
          } else {
            @if(content.size == 1) {
              @content(0)._1 match {
              	case image: models.content.GeoDocumentImage => { <li><a href="@routes.ApplicationController.showImageAnnotationUI(content(0)._1.id.get)">Image</a></li> } 
              	case _ => { <li><a href="@routes.ApplicationController.showTextAnnotationUI(content(0)._1.id, None)">Text</a></li> }
              }
            } else {
              <li>
                <a href="#" id="dropdown-text-trigger" onclick="return false;">
                  @content(0)._1 match {
                  	case image: models.content.GeoDocumentImage => { Image }
                  	case _ => { Text }
                  } 
                  <span class="icon">&#xf0d7;</span>
                </a>
              </li>
            }          
          }
          <li class="active"><a href="#" onclick="return false;">Geo-Resolution</a></li>
          <li><a href="@routes.StatsController.showDocumentStats(doc.id.get)">Document Stats</a></li>
        </ul>
      </div>
      
      @if(content.size > 1) {
        <div id="dropdown-text-menu">
          <ul>
            @for((content, title) <- content) {
              @content match {
                case image: models.content.GeoDocumentImage => { <li><a href="@routes.ApplicationController.showImageAnnotationUI(content.id.get)">@title.getOrElse("[untitled]")</a></li> }
                case _ => { <li><a href="@routes.ApplicationController.showTextAnnotationUI(content.id, None)">@title.getOrElse("[untitled]")</a></li> }
              }
            }
          </ul>
        </div>
      }
    </div>
    
    <div id="content">
      <div id="table"></div>
      <div id="map"></div>
    </div>
    
    <div id="footer">
      <div id="footer-info"></div>
      <div id="user">
        You are logged in as <span id="username">@username</span> <a href="@routes.AuthController.logout" class="icon">&#xf011;</a>
      </div>
    </div>
  </body>
</html>
