@(image: models.content.GeoDocumentImage, 
  gdoc: GeoDocument,
  gdocPart: Option[GeoDocumentPart],
  allImages: Seq[(GeoDocumentContent, Option[String])],
  username: String)(implicit request: RequestHeader)

<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>RECOGITO Image Annotation</title>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/annotation/image.css")">
    <link rel="stylesheet" href="@routes.Assets.at("javascripts/lib/ol3/ol.css")">
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/jquery/jquery-2.0.0.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/jquery/jquery-ui-1.10.3.custom.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/timeago/jquery.timeago.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/ol3/ol.js")"></script>
    @if(allImages.size > 1) { 
      @tags.js_text_menu() 
    }
    @helper.requireJs(core = routes.Assets.at("javascripts/require.js").url, module = routes.Assets.at("javascripts/imageannotation").url)
    <script>
      window.config = {
        'width': @image.width,
        'height': @image.height,
        'url': '@{ global.Global.uploadBaseURL + image.path }',
        'gdoc_id': @gdoc.id,
        'gdoc_part_id': @gdocPart.map(_.id.get).getOrElse("null")       
      };
      
      $(document).ready(function() {
        var header = $('#header'),
            footer = $('#footer'),
            annotationArea = $('#annotation-area');
            
        annotationArea.css({
          'top': header.height(), 
          'bottom': footer.height() + 10 });
      })
    </script>
  </head>
  
  <body>
    <div id="header">
      <div id="title">
        @gdoc.author.map(_ + ": ").getOrElse("") @gdoc.title
        @gdoc.dateComment.map("(" + _ + ")").getOrElse("")
        @gdocPart.map(" - " + _.title).getOrElse("")
        <div id="home-button"><a href="@routes.ApplicationController.index(None)" class="icon">&#xf015;</a></div>
      </div>
      
      <div id="menu">
        <ul>
          <li>          
            @if(allImages.size < 2) {
              <li class="disabled"><a href="#" onclick="return false;">Image</a></li>
            } else {
              <li><a href="#" id="dropdown-text-trigger" onclick="return false;">Image <span class="icon">&#xf0d7;</span></a></li>
            }
          <li><a href="@routes.ApplicationController.showGeoResolutionUI(gdoc.id.get)">Geo-Resolution</a></li>
          <li><a href="@routes.StatsController.showDocumentStats(gdoc.id.get)">Document Stats</a></li>
        </ul>
      </div>
      
      @if(allImages.size > 1) {
        <div id="dropdown-text-menu">
          <ul>
            @for((image, title) <- allImages) {
              <li><a href="@routes.ApplicationController.showImageAnnotationUI(image.id.get)">@title.getOrElse("[untitled]")</a></li>
            }
          </ul>
        </div>
      }
      
      <div id="toolbar">
        <div class="tool selected navigate" title="Move Image">
          <span class="icon">&#xf047;</span>
        </div>   
        
        <div class="tool annotate" title="Annotate Image">
          <span class="icon">&#xf040;</span>
        </div>   
        
        <div class="tool help" title="Help">
          <span class="icon">&#xf059;</span>
        </div> 
      </div>
    </div>   
    
    <div id="annotation-area">
      <div id="viewer"></div>
      <canvas id="drawing-canvas"></canvas>
    </div>
      
    <div id="footer">
      <div id="user">
        You are logged in as <span id="username">@username</span> <a href="@routes.AuthController.logout" class="icon">&#xf011;</a>
      </div>
    </div>
  </body>
</html>
