@(user: models.User)(implicit s: play.api.db.slick.Config.driver.simple.Session)

@import tags.lang

<html>
  <head>
    <title>RECOGITO</title>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/index/main.css")" />
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/jquery/jquery-2.0.0.min.js")"></script>
    <script> 
    function toggleDetails(docId) {
      var toggle = $('.toggle-' + docId),
          rows = $('.document-' + docId),
          display = rows.css('display');

      toggle.toggleClass('less');
      if (display == 'none') {
        rows.css('display', 'table-row');
      } else {
        rows.css('display', 'none');
      }
    }
    </script>
  </head>
  
  <body>
    <div id="header">
      <div id="header-top">
        <div id="title">
          <h1>Recogito</h1>
          <div id="logout">logged in as: <strong>@user.username</strong> <a href="@routes.AuthController.logout" title="Logout"><span class="icon">&#xf011;</span></a></div>
        </div>
      </div>
      
      <div id="column-headings">
        <table>
          <thead>
            <tr>
              <th>Document</th>
              <th># of Parts</th>
              <th>Toponyms</th>
              <th>Complete</th>    
            </tr>
          </thead>
        </table>
      </div>
    </div>
    
    <div id="container">    
      <table>   
        <tbody>
          @for(doc <- models.GeoDocuments.listAll().sortBy(d => (d.date, d.author, d.title))) {
          	@defining(user.canEdit(doc.id.get)) { canEdit =>
          	  @if(canEdit) { <tr> } else { <tr class="locked-document"> }
          	    <td> <!-- document title -->
          	      @if(!canEdit) {
          	        <span class="icon locked-document">&#xf023;</span>
          	      }
          	      @doc.author.map(_ + ": ").getOrElse("") @doc.title
          	      @doc.dateComment.map("(" + _ + ")").getOrElse("") 
          	    </td>
          	    
          	    <td>@lang(doc.language)</td>
          	  
          	    @defining(models.GeoDocumentParts.countForGeoDocument(doc.id.get)) { parts =>
          	  	  <!-- number of parts -->
                  @if(parts == 0) { 
          	        <td colspan="2" class="center">-</td>
          	      } else {
          	        <td class="right">@parts</td><td><a class="icon toggle toggle-@doc.id.get" href="#" onclick="toggleDetails(@doc.id.get); return false;"></a></td>
          	      }         	      
          	    }
          	  
          	    <!-- number of toponyms -->
          	    <td class="center">
          	      @doc.totalToponymCount
          	    </td>
          	  
          	    <td class="stats"> <!-- completion ratio -->
          	      @defining(doc.completionRatio * 100) { completionRatio =>
          	        <div class="meter" title="@{ "%.2f" format (completionRatio) } %">
	                  <span style="width: @completionRatio%"></span>
                    </div>
                  }
          	    </td>
          	    <td class="more-stats"><a href="@routes.ApplicationController.showDocumentStats(doc.id.get)" class="icon" title="Detailed Stats">&#xf080;</a></td>
          	  
          	    <td class="icons"> <!-- icons: map, public map, text -->
          	      @defining(GeoDocumentTexts.getTextForGeoDocument(doc.id.get)) { text =>
      	            @if(text.isDefined) {
      	              <a class="icon" href="@routes.ApplicationController.showTextAnnotationUI(text.get.id.get, None)" title="Text Annotation">&#xf0f6;</a>
      	            } else {
      	              <span class="icon"></span>
      	            }
      	          }
          	      <a class="icon" href="@routes.ApplicationController.showGeoResolutionUI(doc.id.get)" title="Geo-Resolution">&#xf0ac;</a>
          	      <a class="icon" href="@routes.DocumentController.get(doc.id.get, Some("csv"))" title="Download CSV">&#xf0ce;</a>
          	      <a class="icon" href="@routes.ApplicationController.showMap(doc.id.get)" title="Public Map">
          	        &#xf0ac;
          	        <span class="icon public">&#xf0c0;</span>
          	      </a>
          	    </td>
          	  </tr>
          	}
          	
          	@for(part <- models.GeoDocumentParts.findByGeoDocument(doc.id.get)) {
              <tr class="document-part document-@doc.id.get">
                <td class="title">@part.title</td>
                
                <td colspan="3"></td>
                
                <!-- number of toponyms -->
                <td class="center">
                  @part.totalToponymCount
                </td>
                
          	    <td> <!-- completion ratio -->
          	      @defining(part.completionRatio * 100) { completionRatio =>
          	        <div class="meter meter-part" title="@{ "%.2f" format (completionRatio) } %">
	                  <span style="width: @completionRatio%"></span>
                    </div>
                  }
          	    </td>
          	    <td></td>
          	    
                <td>
      	          @defining(GeoDocumentTexts.getTextForGeoDocumentPart(part.id.get)) { text =>
      	            @if(text.isDefined) {
      	              <span class="icon"></span>
      	              <span class="icon"></span>
      	              <a class="icon" href="@routes.ApplicationController.showTextAnnotationUI(text.get.id.get, None)" title="Text">&#xf0f6;</a>
      	            }
      	          }
                </td>
          	  </tr>
            }
          }
          
          @* We need to do some optimization here to avoid redundant DB access! *@
          <tr class="totals">
            @defining(models.GeoDocuments.listAll().map(doc => (doc.totalToponymCount, doc.unverifiedToponymCount))) { totals =>
              @defining(totals.map(_._1).foldLeft(0)(_ + _)) { totalToponyms =>
                <td colspan="4"></td>
                <td class="center">@totalToponyms</td> <!-- Toponyms -->
                <td>
                  @defining(totals.map(_._2).foldLeft(0)(_ + _)) { totalUnverified =>
                    <div class="meter">
                      @defining(100 * (totalToponyms - totalUnverified).toDouble / totalToponyms) { ratio =>
                        <span style="width:@{ratio}%" title="@{"%.2f" format (ratio)} % - @totalUnverified Toponyms to go!"></span>
                      }
                    </div>
                  }
                </td>
                <td></td>
                <td></td>  
              }         
            }
          </tr>
        </tbody> 
      </table>
    </div>
    
    <!-- div id="footer">
      <615 Annotations  
      <span class="icon">&#xf14a;</span> 577  
      <span class="icon">&#xf024;</span> 21   
      <span class="icon">&#xf057;</span> 0  
      <span class="icon">&#xf05e;</span> 0
      -   97.1% Complete>
      
      <div id="user">
        You are logged in as <span id="username">@user.username</span> <a href="@routes.AuthController.logout" class="icon">&#xf011;</a>
      </div>
    </div -->
  </body>
</html>
