@(documents: Seq[(Option[String], Seq[DocumentIndexRow])], collections: Seq[(String, Int)], currentCollection: String, scores: Seq[(User, Int)], user: models.User)(implicit request: RequestHeader)

@import tags.lang

<html>
  <head>
    <title>RECOGITO</title>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/index/main.css")" />
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/jquery/jquery-2.0.0.min.js")"></script>
    <script type="text/javascript">
      function toggleVersions(id) {
        var toggleIcon = $('.plus-' + id),
          headerRow = $('.lang-group-header.lang-group-' + id),
          versionRows = $('.lang-group.lang-group-' + id),
          display = versionRows.css('display');

        toggleIcon.toggleClass('less');
        headerRow.toggleClass('open');
        if (display == 'none') {
          versionRows.css('display', 'table-row');
        } else {
          versionRows.css('display', 'none');
        }
      }
    </script>
  </head>
  
  <body>
    @tags.browser_warning()
    <div id="header">
      <div id="header-top">
        <div id="title">
          <h1>Recogito</h1>
          <div id="current-user">
            <div id="info">
              logged in as: <strong>@user.username</strong>
              <p id="user-links">
                @if(user.isAdmin) { <a href="@controllers.admin.routes.DocumentAdminController.listAll" title="Administration Access to Recogito">Administration</a> }
                <a href="@routes.UserController.changePassword" title="Edit User Settings">My Settings</a>
                <a href="@routes.ApplicationController.showDocumentation">Tutorial</a>
              </p>
            </div> 
            
            <div id="logout"> 
              <a href="@routes.AuthController.logout" title="Logout"><span class="icon">&#xf011;</span></a>
            </div>
          </div>
        </div>
      </div>
      
      <div id="column-headings">
        <table>
          <thead>
            <tr>
              <th class="title">Document</th>
              <th class="center">Toponyms</th>
              <th class="center">Complete</th>
              <th class="actions"></th>    
            </tr>
          </thead>
        </table>
      </div>
    </div>
    
    <div id="container">    
      <div id="sidebar">
        <h2>Collections</h2>
        <ul>
          @for(collection <- collections) {
          	@if(currentCollection.equalsIgnoreCase(collection._1)) { <li> } else { <li class="disabled"> }
              <a href="@routes.ApplicationController.index(Some(collection._1.toLowerCase))">
                <span class="collection-name">@collection._1</span>
                <span class="collection-count">@collection._2</span>
              </a>
            </li>
          }
        </ul>  
        
        <h2>Top 5 Contributors</h2>
        <div id="highscores">
          <table>
            @for((user, score) <- scores) {
              @defining(100 * score.toDouble / scores(0)._2) { percentage =>
          	    <tr>
                  <td class="score">
                    <div class="meter">
                      <div class="bar" title="@score Edits" style="width:@percentage%"></div>
                    </div>
                  </td>
          	      <td class="username">
                    <a href="@routes.StatsController.showUserStats(user.username)"">@user.username</a>
                  </td>
          	    <tr>
              }
            }
          </table>
          <a class="stats-link" href="@routes.StatsController.showStats()">All Stats</a>
        </div>
      </div>
      
      @singleDoc(entry: DocumentIndexRow, langGroup: Option[Int] = None) = {
        @if(langGroup.isDefined) { <tr class="lang-group lang-group-@langGroup.get"> } else { <tr> }
          <td class="title" colspan="2"> <!-- document title -->
            <div> <!-- We need this DIV for the CSS ellipsis truncation to work! -->
              @entry.doc.author.map(_ + ": ").getOrElse("") @entry.doc.title
              @entry.doc.dateComment.map("(" + _ + ")").getOrElse("")
            </div> 
          </td>

          <!-- languages -->                
          <td class="center">@lang(entry.doc.language)</td>
                
          <!-- # of toponyms -->
          <td class="center">@entry.stats.total</td>     
               
          <!-- completion ratio --> 
          <td class="stats" title="@{ "%.2f" format (entry.stats.percentComplete * 100) } % Complete">
            <div class="meter">
              <span class="yellow" style="width: @{(entry.stats.percentVerified + entry.stats.percentYellow) * 100}%"></span>
              <span class="green@if(entry.stats.percentYellow == 0) { full}" style="width: @{entry.stats.percentVerified * 100}%"></span>
            </div>
          </td>
          
          <!-- shortcut icons -->
          <td>
            <!-- text shortcut -->
            @if(entry.firstText.isDefined) {
              <a class="icon" href="@routes.ApplicationController.showTextAnnotationUI(Some(entry.firstText.get), None)" title="Text Annotation">&#xf0f6;</a>
            } else { @if(entry.firstImage.isDefined) {
              <a class="icon" href="@routes.ApplicationController.showImageAnnotationUI(entry.firstImage.get)" title="Image Annotation">&#xf1c5;</a>
            } else {
              <span class="icon disabled">&#xf016;</span>
            }}
            
            <!-- georesolution shortcut -->
            <a class="icon" href="@routes.ApplicationController.showGeoResolutionUI(entry.doc.id.get)" title="Geo-Resolution">&#xf0ac;</a>
            
            <!-- document stats shortcut -->
            <a href="@routes.ApplicationController.showDocumentStats(entry.doc.id.get)" class="icon" title="Document Stats">&#xf080;</a>
            
            <!-- CSV download shortcut -->
            <a class="icon" href="@routes.DocumentController.get(entry.doc.id.get, Some("csv"))" title="Download CSV">&#xf0ce;</a>
          </td>
        </tr>      	
      }
      
      @languageGroup(entries: Seq[DocumentIndexRow]) = {
        <tr class="lang-group-header lang-group-@entries.head.doc.id.get" onclick="toggleVersions(@entries.head.doc.id.get); return false;">
          <td class="title"> <!-- document title -->
            <div> <!-- We need this DIV for the CSS ellipsis truncation to work! -->
              <span class="icon plus plus-@entries.head.doc.id.get"></span>
              @entries.head.doc.author.map(_ + ": ").getOrElse("") @entries.head.doc.title
              @entries.head.doc.dateComment.map("(" + _ + ")").getOrElse("")
            </div>
          </td>
          
          <!-- # of versions -->
          <td class="versions center">@entries.size Versions</td>

          <!-- languages -->                
          <td></td>
                
          <!-- # of toponyms -->
          @defining((entries.map(_.stats.total).min, entries.map(_.stats.total).max)) { toponyms =>
            <td class="center">
              @if(toponyms._1 == toponyms._2) {
                @toponyms._1	
              } else {
                @toponyms._1 - @toponyms._2
              }
            </td>
          }     
          
          <!-- completion ratio -->
          @defining(entries.map(_.stats.percentComplete).foldLeft(0.0)(_ + _) / entries.size) { percentComplete =>
            @defining(entries.map(_.stats.percentVerified).foldLeft(0.0)(_ + _) / entries.size) { percentVerified =>
              <td class="stats" title="@{ "%.2f" format (percentComplete * 100)} % Complete">
                <div class="meter">
                  <span class="yellow" style="width: @{percentComplete * 100}%"></span>
                  <span class="green@if(percentComplete == percentVerified) { full}" style="width: @{percentVerified * 100}%"></span>
                </div>
              </td>
            }         
          }
          
          <!-- shortcut icons -->
          <td></td>
        </tr>  
        
        <!-- individual language entries -->
        @for(entry <- entries) {
          @singleDoc(entry, entries.head.doc.id)
        }         	
      }
      
      <div id="document-list">
        <div id="total-progress">
          <div class="label">
            @{ documents.flatMap(_._2).foldLeft(0)((total, entry) => total + entry.stats.total) } Toponyms Total
          </div>
          @defining(documents.flatMap(_._2).filter(e => !(e.stats.percentComplete.isNaN() || e.stats.percentVerified.isNaN()))) { entries =>
          	@defining(entries.map(_.stats.percentComplete).foldLeft(0.0)(_ + _) / entries.size) { percentComplete =>
          	  @defining(entries.map(_.stats.percentVerified).foldLeft(0.0)(_ + _) / entries.size) { percentVerified =>
                <div class="meter" title="@{ "%.2f" format (percentComplete * 100)} % Complete">
                  <span class="yellow" style="width:@{percentComplete * 100}%"></span>
                  <span class="green@if(percentComplete == percentVerified) { full}" style="width: @{percentVerified * 100}%"></span>
                </div>
              }
            }
          }
        </div>
        
        <table class="index"> 
          <tbody>
            @for((extWorkId, docs) <- documents) {
              @if(docs.size > 1) {
                @languageGroup(docs)
              } else {
                @singleDoc(docs.head)
              }
            }
          </tbody> 
        </table>
      </div>
      
    </div>
  </body>
</html>
