@()(implicit s: play.api.db.slick.Config.driver.simple.Session)
<html>
  <head>
    <title>RECOGITO</title>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/index/main.css")" />
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/jquery/jquery-2.0.0.min.js")"></script>
  </head>
  
  <body>
    <div id="container">    
      <table>
        <thead>
          <tr>
            <th>Document</th>
            <th></th> <!-- language tag -->
            <th>Toponyms</th>
            <th colspan="2">Complete</th>
            <th></th>
          </tr>
        </thead>     
        <tbody>
          @for(doc <- models.GeoDocuments.listAll().sortBy(_.date)) {
          	<tr>
      	      <td> <!-- document title -->
                @doc.author.map(_ + ": ").getOrElse("") @doc.title
          	    @doc.dateComment.map("(" + _ + ")").getOrElse("") 
          	  </td>
          	    
          	  <td> <!-- language -->
          	    @Html(doc.language.map(lang => "<span class=\"lang\">" + lang.toLowerCase + "</span>").getOrElse(""))
          	  </td>
          	         	  
          	  <!-- number of toponyms -->
          	  <td class="center">
          	    @doc.totalToponymCount
          	  </td>
          	  
              <td class="stats"> <!-- completion ratio -->
          	    @defining(doc.completionRatio * 100) { completionRatio =>
          	      <div class="meter" title="@{ "%.2f" format (completionRatio) } %">
	                <span style="width: @completionRatio%"></span>
                  </div>
                }
          	  </td>
      	      <td class="more-stats"><a href="@routes.ApplicationController.showDocumentStats(doc.id.get)" class="icon" title="Detailed Stats">&#xf080;</a></td>
          	  
       	      <td class="icons"> <!-- icons: public map -->
                <a class="icon" href="@routes.ApplicationController.showMap(doc.id.get)" title="Public Map">
          	      &#xf0ac;
          	      <span class="icon public">&#xf0c0;</span>
          	    </a>
          	  </td>
           </tr>
         }
          
          @* We need to do some optimization here to avoid redundant DB access! *@
          <tr class="totals">
            @defining(models.GeoDocuments.listAll().map(doc => (doc.totalToponymCount, doc.unverifiedToponymCount))) { totals =>
              @defining(totals.map(_._1).foldLeft(0)(_ + _)) { totalToponyms =>
                <td colspan="2"></td>
                <td class="center">@totalToponyms</td> <!-- Toponyms -->
                <td>
                  @defining(totals.map(_._2).foldLeft(0)(_ + _)) { totalUnverified =>
                    <div class="meter">
                      @defining(100 * (totalToponyms - totalUnverified).toDouble / totalToponyms) { ratio =>
                        <span style="width:@{ratio}%" title="@{"%.2f" format (ratio)} % - @totalUnverified Toponyms to go!"></span>
                      }
                    </div>
                  }
                </td>
                <td></td>
                <td></td>  
              }         
            }
          </tr>
        </tbody> 
      </table>
    </div>
    <div id="footer">
      <span id="footer-info"></span>
      <span id="footer-user">You are not logged in<a href="@routes.AuthController.login" title="Login" class="footer-logout">&#xf090;</a></span>
    </div>
  </body>
</html>
