@(documents: Seq[(Option[String], Seq[GeoDocument])], collections: Seq[(String, Int)], currentCollection: String, user: models.User)(implicit s: play.api.db.slick.Config.driver.simple.Session)

@import tags.lang

<html>
  <head>
    <title>RECOGITO</title>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/index/main.css")" />
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/jquery/jquery-2.0.0.min.js")"></script>
    <script type="text/javascript">
      function toggleVersions(id) {
        var toggleIcon = $('.plus-' + id),
          headerRow = $('.lang-group-header.lang-group-' + id),
          versionRows = $('.lang-group.lang-group-' + id),
          display = versionRows.css('display');

        toggleIcon.toggleClass('less');
        headerRow.toggleClass('open');
        if (display == 'none') {
          versionRows.css('display', 'table-row');
        } else {
          versionRows.css('display', 'none');
        }
      }
    </script>
  </head>
  
  <body>
    <div id="header">
      <div id="header-top">
        <div id="title">
          <h1>Recogito</h1>
          <div id="current-user">
            <div id="info">
              logged in as: <strong>@user.username</strong>
              <p id="user-links">
                @if(user.isAdmin) { <a href="@controllers.admin.routes.DocumentAdminController.listAll" title="Administration Access to Recogito">Administration</a> }
                <a href="@routes.UserController.changePassword" title="Edit User Settings">My Settings</a>
              </p>
            </div> 
            
            <div id="logout"> 
              <a href="@routes.AuthController.logout" title="Logout"><span class="icon">&#xf011;</span></a>
            </div>
          </div>
        </div>
      </div>
      
      <div id="column-headings">
        <table>
          <thead>
            <tr>
              <th class="title">Document</th>
              <th></th>
              <th>Toponyms</th>
              <th>Complete</th>
              <th></th>    
            </tr>
          </thead>
        </table>
      </div>
    </div>
    
    <div id="container">    
      <div id="collections-sidebar">
        <h2>Collections</h2>
        <ul>
          @for(collection <- collections) {
          	@if(currentCollection.equalsIgnoreCase(collection._1)) { <li> } else { <li class="disabled"> }
              <a href="@routes.ApplicationController.index(Some(collection._1.toLowerCase))">
                <span class="collection-name">@collection._1</span>
                <span class="collection-count">@collection._2</span>
              </a>
            </li>
          }
        </ul>  
      </div>
      
      @singleDoc(doc: GeoDocument, toponyms: Int, completionRatio: Double, langGroup: Option[Int] = None) = {
        @if(langGroup.isDefined) { <tr class="lang-group lang-group-@langGroup.get"> } else { <tr> }
          <td class="title"> <!-- document title -->
            <div> <!-- We need this DIV for the CSS ellipsis truncation to work! -->
              @doc.author.map(_ + ": ").getOrElse("") @doc.title
              @doc.dateComment.map("(" + _ + ")").getOrElse("")
            </div> 
          </td>
          
          <!-- # of parts -->
          <td class="center"></td>

          <!-- languages -->                
          <td class="center">@lang(doc.language)</td>
                
          <!-- # of toponyms -->
          <td class="center">@toponyms</td>     
               
          <!-- completion ratio --> 
          <td class="stats" title="@{ "%.2f" format (completionRatio * 100) } % Complete">
            <div class="meter"><span style="width: @{completionRatio * 100}%"></span></div>
          </td>
          
          <!-- shortcut icons -->
          <td>
            <!-- document stats short -->
            <a href="@routes.ApplicationController.showDocumentStats(doc.id.get)" class="icon" title="Detailed Stats">&#xf080;</a>
            
            <!-- text shortcut -->
            @defining(GeoDocumentTexts.findByGeoDocument(doc.id.get)) { texts =>
              @if(texts.size > 0) {
                <a class="icon" href="@routes.ApplicationController.showTextAnnotationUI(texts.head.id, None)" title="Text Annotation">&#xf0f6;</a>
              } else {
                <span class="icon disabled">&#xf0f6;</a>
              }
            }
            
            <!-- georesolution shortcut -->
            <a class="icon" href="@routes.ApplicationController.showGeoResolutionUI(doc.id.get)" title="Geo-Resolution">&#xf0ac;</a>
          </td>
        </tr>      	
      }
      
      @languageGroup(docs: Seq[(GeoDocument, Int, Double)]) = {
        <tr class="lang-group-header lang-group-@docs.head._1.id.get" onclick="toggleVersions(@docs.head._1.id.get); return false;">
          <td class="title"> <!-- document title -->
            <div> <!-- We need this DIV for the CSS ellipsis truncation to work! -->
              <span class="icon plus plus-@docs.head._1.id.get"></span>
              @docs.head._1.author.map(_ + ": ").getOrElse("") @docs.head._1.title
              @docs.head._1.dateComment.map("(" + _ + ")").getOrElse("")
            </div>
          </td>
          
          <!-- # of versions -->
          <td class="versions center">@docs.size Versions</td>

          <!-- languages -->                
          <td></td>
                
          <!-- # of toponyms -->
          @defining((docs.map(_._2).min, docs.map(_._2).max)) { toponyms =>
            <td class="center">
              @if(toponyms._1 == toponyms._2) {
                @toponyms._1	
              } else {
                @toponyms._1 - @toponyms._2
              }
            </td>
          }     
          
          <!-- completion ratio -->
          @defining(docs.map(_._3 * 100).foldLeft(0.0)(_ + _) / docs.size) { completionRatio =>
            <td class="stats" title="@{ "%.2f" format (completionRatio) } % Complete">
              <div class="meter"><span style="width: @completionRatio%"></span></div>
            </td>
          }         
          
          <!-- shortcut icons -->
          <td></td>
        </tr>  
        
        <!-- individual language entries -->
        @for((doc, toponyms, completionRatio) <- docs) {
          @singleDoc(doc, toponyms, completionRatio, Some(docs.head._1.id.get))
        }         	
      }
      
      <div id="document-list">
        <h2>Documents</h2>
        <table class="index"> 
          <tbody>
            @for((extWorkId, docs) <- documents) {
              @if(docs.size > 1) {
                @languageGroup(docs.map(d => (d, d.countTotalToponyms, d.completionRatio)))
              } else {
                @singleDoc(docs.head, docs.head.countTotalToponyms, docs.head.completionRatio)
              }
            }
          </tbody> 
        </table>
      </div>
      
    </div>
  </body>
</html>
