@(documents: Seq[(GeoDocument, Int, Int)])

@import tags.lang

<html>
  <head>
    <title>RECOGITO</title>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/index/main.css")" />
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/jquery/jquery-2.0.0.min.js")"></script>
  </head>
  
  <body>
    <div id="header">
      <div id="header-top">
        <div id="title">
          <h1>Recogito</h1>
          <div id="login">
            <a class="button blue" href="@routes.AuthController.login(None)">Log In <span class="icon">&#xf090;</span></a>
          </div>
        </div>
      </div>
      
      <div id="column-headings">
        <table>
          <thead>
            <tr>
              <th>Document</th>
              <th>Toponyms</th>
              <th>Complete</th>    
            </tr>
          </thead>
        </table>
      </div>
    </div>
    
    <div id="container">    
      <table> 
        <tbody>
          @for(doc <- documents) {
            <tr>
              <td> <!-- document title -->
                @doc._1.author.map(_ + ": ").getOrElse("") @doc._1.title
                @doc._1.dateComment.map("(" + _ + ")").getOrElse("") 
              </td>
                
              <td>@lang(doc._1.language)</td>
                          
              <td class="center">@doc._2</td>
              
              <td class="stats">
                @defining(((doc._2 - doc._3).toDouble / doc._2) * 100) { completionRatio =>
                  <div class="meter" title="@{ "%.2f" format (completionRatio) } %">
                    <span style="width: @completionRatio%"></span>
                  </div>
                }
              </td>
              <td class="more-stats"><a href="@routes.ApplicationController.showDocumentStats(doc._1.id.get)" class="icon" title="Detailed Stats">&#xf080;</a></td>
              
              <td class="icons"> <!-- icons: public map -->
                <a class="icon" href="@routes.ApplicationController.showMap(doc._1.id.get)" title="Public Map">
                  &#xf0ac;
                  <span class="icon public">&#xf0c0;</span>
                </a>
                <a class="icon" href="@routes.DocumentController.get(doc._1.id.get, Some("csv"))" title="Download CSV">&#xf0ce;</a>
              </td>
            </tr>
          }
          
          <tr class="totals">
            @defining(documents.foldLeft(0, 0)((sum, doc) => (sum._1 + doc._2, sum._2 + doc._3))) { sum =>
              <td colspan="2"></td>
              <td class="center">@sum._1</td> <!-- Total toponyms -->
              <td>
                <div class="meter">
                  @defining(100 * (sum._1 - sum._2).toDouble / sum._1) { ratio =>
                    <span style="width:@{ratio}%" title="@{"%.2f" format (ratio)} % - @sum._2 Toponyms to go!"></span>
                  }
                </div>
              </td>
              <td colspan="2"></td>
            }
          </tr>
        </tbody> 
      </table>
    </div>
  </body>
</html>