@(form: Form[(String,String)], destination: Option[String])(implicit flash: Flash)

<html>
  <head>
    <title>PELAGIOS Geo-Resolution Correction Tool</title>
  </head>
  
  <body>      
    @helper.form(controllers.common.auth.routes.AuthController.authenticate) {          
      <h1>Sign in</h1>
            
      @form.globalError.map { error =>
        <p class="error">
          @error.message
        </p>
      }
            
      @flash.get("success").map { message =>
        <p class="success">
          @message
        </p>
      }
            
      <p>
        <input name="username" placeholder="Username" id="username" value="@form("username").value">
      </p>
      <p>
        <input type="password" name="password" id="password" placeholder="Password">
      </p>
      <p>
        <button type="submit" id="loginbutton">Login</button>
      </p>   
      @if(destination.isDefined) {
        <input type="hidden" name="destination" value="@destination.get">   
      }
    }       
  </body>
</html>
    


