@(doc: models.GeoDocument, source: Option[String], annotations: Int, places: Int, contributors: Seq[String], inCollection: Option[String])
<html>
  <head>
    <title>PELAGIOS Geo-Resolution Correction Tool</title>
    <link rel="stylesheet" href="@routes.Assets.at("javascripts/lib/leaflet/leaflet.css")" />
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/publicmap/main.css")" />
    <link rel="related" type="application/json" href="@controllers.api.routes.DocumentAPIController.get(doc.id.get.toString)" />
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/jquery/jquery-1.11.1.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/leaflet/leaflet.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/leaflet/leaflet.bing.js")"></script>
    @helper.requireJs(core = routes.Assets.at("javascripts/require.js").url, module = routes.Assets.at("javascripts/publicmap").url)
  </head>
  
  <body>
    <div id="map"></div>
    <div id="side-panel">
      <div id="btn-slide-toggle" class="icon">&#xf053;</div>
      
      <div class="row">
        <h1>@doc.author.map(_ + ": ").getOrElse("") @doc.title</h1>  
        <h2>@doc.dateComment.getOrElse("")</h2>
      
        @if(doc.description.isDefined) {
          <p class="description">@doc.description</p>
        }
        
        @if(source.isDefined) {
          @defining(if (source.get.startsWith("http")) source.get.substring(source.get.indexOf(":") + 3) else source.get) { sourceWithoutProtocol =>
            <p class="source">Source:
              <a href="@source" target="_blank">@if(sourceWithoutProtocol.indexOf("/") > -1) {
                @sourceWithoutProtocol.substring(0, sourceWithoutProtocol.indexOf("/"))
              }</a>
            </p>
          }
        }
      </div>
      
      <div class="row base-stats">
        <ul>
          <li><span class="number">@annotations</span> verified place references</li>
          <li><span class="number">@places</span> unique places</li>
          <li><span class="number">@contributors.size</span> contributing users</li>
        </ul>
      </div>
      
      <div class="icon-bar">
        <ul>
          <li>
            <a class="icon" href="@controllers.unrestricted.routes.DocumentController.showStats(doc.id.get)">&#xf080;</a>
            <a class="caption" href="@controllers.unrestricted.routes.DocumentController.showStats(doc.id.get)">All Stats</a>
          </li>
          
          <li>
            <a class="icon" href="@controllers.unrestricted.routes.DownloadController.downloadCSV(doc.id.get + ".csv")">&#xf019;</a>
            <a class="caption" href="@controllers.unrestricted.routes.DownloadController.downloadCSV(doc.id.get + ".csv")">Download Data</a>
          </li>
          
          <li>
            <a class="recogito-logo" href="@controllers.frontpage.routes.FrontPageController.index(inCollection)">RECOGITO</a>
            <a  class="caption" href="@controllers.frontpage.routes.FrontPageController.index(inCollection)">Document Index</a>
          </li>
        </ul>
      </div>

    </div>
  </body>
</html>
