@(image: models.content.GeoDocumentImage, gdoc: GeoDocument, gdocPart: Option[GeoDocumentPart])(implicit request: RequestHeader)
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="initial-scale=1.0, user-scalable=no, width=device-width">
    <title>RECOGITO Image View</title>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/annotation/image.css")">
    <link rel="stylesheet" href="@routes.Assets.at("javascripts/lib/ol3/ol.css")">
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/jquery/jquery-2.0.0.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/ol3/ol.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/timeago/jquery.timeago.js")"></script>
    @helper.requireJs(core = routes.Assets.at("javascripts/require.js").url, module = routes.Assets.at("javascripts/imageview").url)
    <script>
      window.config = {
        'width': @image.width,
        'height': @image.height,
        'url': '@{ global.Global.uploadBaseURL + image.path }',
        'gdoc_id': @gdoc.id,
        'gdoc_part_id': @gdocPart.map(_.id.get).getOrElse("null")
      };        
    </script>
    <style>
      body, #annotation-area, #viewer {
        width:100%;
        height:100%;
        padding:0;
        margin:0;
      }
    </style>
  </head>
  
  <body>      
    <div id="annotation-area">
      <div id="viewer"></div>
    </div>
  </body>
</html>
