@(doc: models.GeoDocument)
<html>
  <head>
    <title>PELAGIOS Geo-Resolution Correction Tool</title>
    <link rel="stylesheet" href="@routes.Assets.at("javascripts/lib/leaflet/leaflet.css")" />
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/publicmap/main.css")" />
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/jquery/jquery-1.11.1.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/leaflet/leaflet.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/leaflet/leaflet.bing.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/publicmap/main.js")"></script>   
    <script>
      $(function() {
        var map = new recogito.PublicMap(document.getElementById('map'), '@routes.DocumentController.get(doc.id.get.toString)');
      });
    </script>
  </head>
  
  <body>
    <div id="map"></div>
    <div id="meta" class="overlay">
      <h1>@doc.author.map(_ + ": ").getOrElse("") @doc.title @doc.dateComment.map("(" + _ + ")").getOrElse("")</h1>
      @Html(doc.description.map("<p>" + _ + "</p>").getOrElse(""))
    </div>
    <div id="beta-badge" class="overlay">BETA!</div>
  </body>
</html>
