@(stats: Seq[models.StatsRecord])

<html>
  <head>
    <title>RECOGITO Stats</title>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/chart/chart.min.js")"></script>
    <script>
      window.onload = function() {
        var data = {
          labels: [@Html(stats.map(_ => "''").mkString(","))],
    	  datasets : [
    	    { // Unverified
    		  fillColor : "rgba(220,220,220,0.3)",
    		  strokeColor : "rgba(220,220,220,1)",
    		  pointColor : "rgba(220,220,220,1)",
    		  pointStrokeColor : "#fff",
    		  data : [@stats.map(_.unverifiedToponyms).mkString(",")]
    		}, { // Verified
    		  fillColor : "rgba(0,128,0,0.5)",
    		  strokeColor : "rgba(0,128,0,1)",
    		  pointColor : "rgba(0,128,0,1)",
    		  pointStrokeColor : "#fff",
    		  data : [@stats.map(s => s.verifiedToponyms + s.unverifiedToponyms).mkString(",")]
    		},{ // Unidentifiable
    		  fillColor : "rgba(255,255,0,0.5)",
    		  strokeColor : "rgba(255,255,0,1)",
    		  pointColor : "rgba(255,255,0,1)",
    		  pointStrokeColor : "#fff",
    		  data : [@stats.map(s => s.verifiedToponyms + s.unverifiedToponyms + s.unidentifiableToponyms).mkString(",")]    		  
    		}
          ]
    	};
	
        var ctx = document.getElementById('chart').getContext('2d');
        var statsChart = new Chart(ctx).Line(data);
      }
    </script>
  </head>
  
  <body>
    <canvas id="chart" width="600" height="400"></canvas>
  </body>
</html>
    

