@(html: String, docId: Int, partId: Option[Int])

<html>
  <head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <title>PELAGIOS Geo-Resolution Correction Tool</title>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/text-annotation.css")" />
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/jquery/jquery-2.0.0.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/jquery/jquery-ui-1.10.3.custom.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/rangy/rangy-core-1.2.3.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/textannotation/rcgt-textannotation.min.js")"></script>
    <!-- script src="http://isawnyu.github.com/awld-js/lib/requirejs/require.min.js" type="text/javascript"></script -->
    <!-- script src="http://isawnyu.github.com/awld-js/awld.js?autoinit" type="text/javascript"></script -->
    <script>
    $(document).ready(function() {
      new recogito.TextAnnotationUI(document.getElementById('text'), @docId,  @partId.map(_.toString).getOrElse("false")); 
    })
    </script>
  </head>
  
  <body>
    <div id="text">
@Html(html)
    </div>
  </body>
</html>
