@(doc: models.GeoDocument, 
  texts: Seq[(GeoDocumentContent, Option[String])],
  completionStats: models.stats.CompletionStats, 
  autoAnnotationStats: models.stats.AutoAnnotationStats,
  userStats: Seq[(String, Int)], 
  unidentifiedToponyms: Seq[(String, Seq[(AnnotationStatus.Value, Int)])],
  placeStats: models.stats.PlaceStats, username: Option[String])
 
<html>
  <head>
    <title>@doc.author.map(_ + ":").getOrElse("") @doc.title</title>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/stats/document-stats.css")" />
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/jquery/jquery-2.0.0.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/numeral/numeral.min.js")"></script>   
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/chart/chart.min.js")"></script>   
    @if(texts.size > 1) { 
      @tags.js_text_menu() 
    }
  </head>
  
  <body>
    <div id="header">
      <div id="title">
        @doc.author.map(_ + ": ").getOrElse("") @doc.title @doc.dateComment.map("(" + _ + ")").getOrElse("")
        <div id="home-button"><a href="@routes.ApplicationController.index(None)" class="icon">&#xf015;</a></div>
      </div>
      
      <div id="menu">
        <ul>
          <li class="active"><a href="#" onclick="return false;">Document Stats</a></li>
          @if(texts.size == 0) {
            <li class="disabled"><a href="#" title="There is no text available for this document" onclick="return false;">Text</a>
          } else {
            @if(texts.size == 1) {
              <li><a href="@routes.ApplicationController.showTextAnnotationUI(texts(0)._1.id, None)">Text</a></li>  
            } else {
              <li><a href="#" id="dropdown-text-trigger" onclick="return false;">Text <span class="icon">&#xf0d7;</span></a>
            }          
          }
          <li><a href="@routes.ApplicationController.showGeoResolutionUI(doc.id.get)">Geo-Resolution</a></li>
        </ul>
      </div>
      
      @if(texts.size > 1) {
        <div id="dropdown-text-menu">
          <ul>
            @for(text <- texts) {
              <li><a href="@routes.ApplicationController.showTextAnnotationUI(text._1.id, None)">@text._2.getOrElse("[untitled]")</a></li>
            }
          </ul>
        </div>
      }
    </div>
    
    <div id="content">
      <div class="box">
        @defining("%.2f" format (completionStats.percentComplete * 100)) { complete =>
          <h2>Completeness <span>@complete% complete</span></h2>
        
          <div id="completeness" class="box-content">
            <canvas width="180" height="100"class="piechart" id="completion-chart"></canvas>
          
            <ul>
              <li><em class="number">@completionStats.total</em> place names tagged</li>
              <li><em class="number">@completionStats.verified</em> verified</li>
              <li><em class="number">@completionStats.yellow</em> not located</li>
              <li><em>@complete</em> % complete (total vs. in progress)</li>
              <li><em>@{"%.2f" format (completionStats.percentGeoResolved * 100)}</em> % geo-resolved (not located vs. verified)</li>
            </ul>
          </div>
        }
      </div>
      
      <div class="box">
        <h2>Contributors <span>@userStats.size contributing user@{ if (userStats.size == 1) "" else "s" }</span></h2>
        
        <div id="contributors" class="box-content">
          <table>
            @for((username, count) <- userStats) {
              @defining(100 * count.toDouble / userStats(0)._2) { percentage =>
          	    <tr>
                  <td class="label">
                    <a href="@routes.StatsController.showUserStats(username)"">@username</a>
                  </td>
                  <td class="count">
                    <div class="meter">
                      <div class="bar" style="width:@percentage%"></div><span class="label">@count Edits</span>
                    </div>
                  </td>
          	    <tr>
              }
            }
          </table>
        </div>
      </div>
      
      <div class="box">
        <h2>Unidentifiable Toponyms <span>@unidentifiedToponyms.size toponyms could not be located</span></h2>
        <div id="unidentified-toponyms" class="box-content">
          <table>
            @for((toponym, stats) <- unidentifiedToponyms) {
              <tr>
                <td class="toponym">@toponym</td>
                <td>
                  @for((status, count) <- stats) {
                    <div class="status-label" title="Marked with this status @count times">
                      <span class="status-name">@AnnotationStatus.screenName(status)</span><span class="status-count">@count</span>
                    </div>
                  }
                </td>
              </tr>
            }
          </table>
        </div>
      </div>
      
      <div class="box">
        <h2>Referenced Places <span>@placeStats.uniquePlaces.size unique places in document</span></h2>
        <div id="unique-places" class="box-content">
          <table>
            <thead>
              <tr>
                <th>Place</th>
                <th>Category</th>
                <th>Names in Document</th>
                <th># References</th>
              </tr>
            </thead>
            <tbody>
              @for((place, count, toponymStats) <- placeStats.uniquePlaces) {
                <tr class="place">
                  <td><a href="@place.uri" title="@place.descriptions.headOption.map(_.chars)" target="_blank">@place.title</a></td>
                  <td>
                    @if(place.category.isDefined) {
                      @tags.placeCategory(place.category.get)
                    }
                  </td>

                  <td>
                    @toponymStats.map {case (toponym, count) => @toponym (@count)}.mkString(",")
                  </td>
                  <td class="references">@count</td>
                </tr>
              }
            </tbody>
          </table>
        </div>
      </div>
      
      <div class="box">
        <h2>Automatic Annotation Performance</h2>
          
        <div id="auto-annotation-stats" class="box-content">
          <table>
      	    <tr>
              <td class="label">NER Precision</td>
              <td>
                <div class="meter">
                  <div class="bar" style="width:@{ autoAnnotationStats.nerPrecision * 100 }%"></div>
                </div>
              </td>
              <td class="percentage">
                @{"%.2f" format (autoAnnotationStats.nerPrecision * 100)}%
              </td>
        	  <tr>
              
            <tr>
              <td class="label">NER Recall</td>
              <td>
                <div class="meter">
                  <div class="bar" style="width:@{ autoAnnotationStats.nerRecall * 100 }%"></div>
                </div>
              </td>
              <td class="percentage">
                @{"%.2f" format (autoAnnotationStats.nerRecall * 100)}%
              </td>
            </tr>
            
            <tr>
              <td class="label">Geo-Resolution Precision</td>
              <td>
                <div class="meter">
                  <div class="bar" style="width:@{ autoAnnotationStats.geoResolutionPrecision * 100 }%"></div>
                </div>
              </td>
              <td class="percentage">
                @{"%.2f" format (autoAnnotationStats.geoResolutionPrecision * 100)}%
              </td>
            </tr>
            
            <tr>
              <td class="label">Geo-Resolution Recall</td>
              <td>
                <div class="meter">
                  <div class="bar" style="width:@{ autoAnnotationStats.geoResolutionRecall * 100 }%"></div>
                </div>
              </td>
              <td class="percentage">
                @{"%.2f" format (autoAnnotationStats.geoResolutionRecall * 100)}%
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
    <script>        
      var colCursor = 0;
        
      $(document).ready(function() {
        $.each($('.number'), function(idx, el) {
          var formatted = numeral($(el).text()).format('0,0');
          $(el).html(formatted);
        });
        
        var config = Chart.defaults.global.animation = false;
        
        var completionChartData = [
          { value: @completionStats.verified,
            color:'#83c783',
            label:'Verified' },
          { value: @completionStats.yellow,
            color:'#f0e100',
            label:'Not Located' },
          { value: @completionStats.notVerified,
            color:'#ccc',
            label:'Not Verified Yet' }
        ]
        
        @defining(Seq(
          ("#1f77b4", "#aec7e8"), 
          ("#ff7f0e", "#ffbb78"),
          ("#2ca02c", "#98df8a"),
          ("#d62728", "#ff9896"),
          ("#9467bd", "#c5b0d5"),
          ("#8c564b", "#c49c94"),
          ("#e377c2", "#f7b6d2"),
          ("#7f7f7f", "#c7c7c7"),
          ("#bcbd22", "#dbdb8d"),
          ("#17becf", "#9edae5"))) { colors => 
          
          var userChartData = [
            @Html(userStats.zipWithIndex.map { case ((username, contributions), idx) => { 
              "{ value:" + contributions + "," +
              "  color:'" + colors(idx % colors.size)._1 + "'," +
              "  label:'" + username + "' }" }}.mkString(","))
          ];
        }
        
        var completionChart = new Chart(document.getElementById('completion-chart').getContext('2d')).Pie(completionChartData, {
          segmentStrokeWidth:0.5
        });
        
        var userChart = new Chart(document.getElementById('user-chart').getContext('2d')).Pie(userChartData, {
          tooltipTemplate: '<%if (label){%><%=label%>: <%}%><%= value %> Edits',
          segmentStrokeWidth:0.5
        });
      });
    </script>
  </body>
</html>
