@(doc: models.GeoDocument, texts: Seq[(models.GeoDocumentText, Option[String])], completionStats: models.stats.CompletionStats, userStats: Seq[(String, Int)], placeStats: models.stats.PlaceStats, username: Option[String])
 
<html>
  <head>
    <title>@doc.author.map(_ + ":").getOrElse("") @doc.title</title>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/stats/document-stats.css")" />
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/jquery/jquery-2.0.0.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/numeral/numeral.min.js")"></script>   
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/chart/chart.min.js")"></script>   
    @if(texts.size > 1) { 
      @tags.js_text_menu() 
    }
  </head>
  
  <body>
    <div id="header">
      <div id="title">
        @doc.author.map(_ + ": ").getOrElse("") @doc.title @doc.dateComment.map("(" + _ + ")").getOrElse("")
        <div id="home-button"><a href="@routes.ApplicationController.index(None)" class="icon">&#xf015;</a></div>
      </div>
      
      <div id="menu">
        <ul>
          <li class="active"><a href="@routes.ApplicationController.showDocumentStats(doc.id.get)" onclick="return false;">Document Stats</a></li>
          @if(texts.size == 0) {
            <li class="disabled"><a href="#" title="There is no text available for this document" onclick="return false;">Text</a>
          } else {
            @if(texts.size == 1) {
              <li><a href="@routes.ApplicationController.showTextAnnotationUI(texts(0)._1.id, None)">Text</a></li>  
            } else {
              <li><a href="#" id="dropdown-text-trigger" onclick="return false;">Text <span class="icon">&#xf0d7;</span></a>
            }          
          }
          <li><a href="@routes.ApplicationController.showGeoResolutionUI(doc.id.get)">Geo-Resolution</a></li>
        </ul>
      </div>
      
      @if(texts.size > 1) {
        <div id="dropdown-text-menu">
          <ul>
            @for(text <- texts) {
              <li><a href="@routes.ApplicationController.showTextAnnotationUI(text._1.id, None)">@text._2.getOrElse("[untitled]")</a></li>
            }
          </ul>
        </div>
      }
    </div>
    
    <div id="content">
      <div class="stats annotation-stats">
        <canvas width="180" height="100"class="piechart" id="completion-chart"></canvas>
        <span><em class="number">@completionStats.total</em> place names tagged</span>
        <span><em class="number">@completionStats.verified</em> verified</span>
        <span><em class="number">@completionStats.yellow</em> not located</span>

        <span><em>@{"%.2f" format (completionStats.percentComplete * 100)}</em> % complete (verified vs. total)</span>
        <span><em>@{"%.2f" format (completionStats.percentGeoResolved * 100)}</em> % geo-resolved (verified vs. not located)</span>
      </div>
            
      <div class="stats contributor-stats">
        <canvas width="180" height="100" class="piechart"  id="user-chart"></canvas>
        <em>@userStats.size</em> contributors
        <p>
          @for((username, count) <- userStats) {
            <a href="@routes.StatsController.showUserStats(username)">@username</a>
          }
        </p>
      </div>

      <div id="unique-places">
        <h2><em class="number">@placeStats.uniquePlaces.size</em> unique places referred to in document</h2>
        
        <table>
          <thead>

          </thead>
          <tbody>
            @for((place, count, toponymStats) <- placeStats.uniquePlaces) {
              <tr class="place">
                <td>
                  @if(place.category.isDefined) {
                    @tags.place_category(place.category.get)
                  }
                </td>
                <td><a href="@place.uri" title="@place.descriptions.headOption.map(_.chars)" target="_blank">@place.title</a></td>
                <td>
                  @toponymStats.map {case (toponym, count) => @toponym (@count)}.mkString(",")
                </td>
                <td class="references"><em>@count</em> references</td>
              </tr>
            }
          </tbody>
        </table>
      </div>
    <script>        
      var colCursor = 0;
        
      $(document).ready(function() {
        $.each($('.number'), function(idx, el) {
          var formatted = numeral($(el).text()).format('0,0');
          $(el).html(formatted);
        });
        
        var config = Chart.defaults.global.animation = false;
        
        var completionChartData = [
          { value: @completionStats.verified,
            color:'#83c783',
            label:'Verified' },
          { value: @completionStats.yellow,
            color:'#f0e100',
            label:'Not Located' },
          { value: @completionStats.notVerified,
            color:'#ccc',
            label:'Not Verified Yet' }
        ]
        
        @defining(Seq(
          ("#1f77b4", "#aec7e8"), 
          ("#ff7f0e", "#ffbb78"),
          ("#2ca02c", "#98df8a"),
          ("#d62728", "#ff9896"),
          ("#9467bd", "#c5b0d5"),
          ("#8c564b", "#c49c94"),
          ("#e377c2", "#f7b6d2"),
          ("#7f7f7f", "#c7c7c7"),
          ("#bcbd22", "#dbdb8d"),
          ("#17becf", "#9edae5"))) { colors => 
          
          var userChartData = [
            @Html(userStats.zipWithIndex.map { case ((username, contributions), idx) => { 
              "{ value:" + contributions + "," +
              "  color:'" + colors(idx % colors.size)._1 + "'," +
              "  label:'" + username + "' }" }}.mkString(","))
          ];
        }
        
        var completionChart = new Chart(document.getElementById('completion-chart').getContext('2d')).Pie(completionChartData, {
          segmentStrokeWidth:0.5
        });
        
        var userChart = new Chart(document.getElementById('user-chart').getContext('2d')).Pie(userChartData, {
          tooltipTemplate: '<%if (label){%><%=label%>: <%}%><%= value %> Edits',
          segmentStrokeWidth:0.5
        });
      });
    </script>
  </body>
</html>
