@(doc: models.GeoDocument, texts: Seq[(models.GeoDocumentText, Option[String])], completionStats: models.stats.CompletionStats, username: Option[String])
 
<html>
  <head>
    <title>@doc.author.map(_ + ":").getOrElse("") @doc.title</title>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/stats/document-stats.css")" />
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/jquery/jquery-2.0.0.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/numeral/numeral.min.js")"></script>   
    @if(texts.size > 1) { 
      @tags.js_text_menu() 
    }
  </head>
  
  <body>
    <div id="header">
      <div id="title">
        @doc.author.map(_ + ": ").getOrElse("") @doc.title @doc.dateComment.map("(" + _ + ")").getOrElse("")
        <div id="home-button"><a href="@routes.ApplicationController.index(None)" class="icon">&#xf015;</a></div>
      </div>
      
      <div id="menu">
        <ul>
          <li class="active"><a href="@routes.ApplicationController.showDocumentStats(doc.id.get)" onclick="return false;">Document Stats</a></li>
          @if(texts.size == 0) {
            <li class="disabled"><a href="#" title="There is no text available for this document" onclick="return false;">Text</a>
          } else {
            @if(texts.size == 1) {
              <li><a href="@routes.ApplicationController.showTextAnnotationUI(texts(0)._1.id, None)">Text</a></li>  
            } else {
              <li><a href="#" id="dropdown-text-trigger" onclick="return false;">Text <span class="icon">&#xf0d7;</span></a>
            }          
          }
          <li><a href="@routes.ApplicationController.showGeoResolutionUI(doc.id.get)">Geo-Resolution</a></li>
        </ul>
      </div>
      
      @if(texts.size > 1) {
        <div id="dropdown-text-menu">
          <ul>
            @for(text <- texts) {
              <li><a href="@routes.ApplicationController.showTextAnnotationUI(text._1.id, None)">@text._2.getOrElse("[untitled]")</a></li>
            }
          </ul>
        </div>
      }
    </div>
    
    <div id="content">
      <div class="meter" title="@{ "%.2f" format (completionStats.percentComplete * 100)} % Complete">
        <span class="yellow" style="width:@{completionStats.percentComplete * 100}%"></span>
        <span class="green@if(completionStats.percentComplete == completionStats.percentVerified) { full}" style="width: @{completionStats.percentVerified * 100}%"></span>
      </div>
      
      <div class="annotation-stats left">
        <span><em class="number">@completionStats.total</em> place names tagged</span>
        <span><em class="number">@completionStats.verified</em> verified</span>
        <span><em class="number">@completionStats.yellow</em> not located</span>
      </div>
      
      <div class="annotation-stats">
        <span><em>@{ "%.2f" format (completionStats.percentComplete * 100) }</em> % complete (verified vs. total)</span>
        <span><em>@{ "%.2f" format (completionStats.percentGeoResolved * 100) }</em> % geo-resolved (verified vs. not located)</span>
      </div>
      
      <h2>Results of Automatic Annotation</h2>
      
      <h2>Tags</h2>
      
      <h2>Places</h2>
      
      
      @*  
      <div class="annotation-stats">
        NER recall: @{ "%.2f" format (doc.nerRecall * 100) } %<br/>
        NER precision: @{ "%.2f" format (doc.nerPrecision * 100) } %</br> 
        Resolution correctness: @{ "%.2f" format (doc.resolutionCorrectness * 100) } % 
      </div>
      *@
      
      @*
        <div class="column">
          <h3>Unique Tags:</h3>
          <p>@models.stats.AnnotationStats.uniqueTags(annotations).mkString(", ")</p>
      
          @defining(models.stats.AnnotationStats.uniquePlaceCategories(annotations)) { categories =>
            <h3>Place Categories:</h3>
            @for(tuple <- categories) {
              @tuple._1.getOrElse("[uncategorized]"): @tuple._2<br/>
            }
          }
        </div>
        *@
        
        @*     
        @defining(models.stats.AnnotationStats.uniquePlaces(annotations).groupBy(_._1.category)) { places => 
          <h3>Unique Places: @places.toSeq.map(_._2).flatten.size</h3>
        
          <table>
            <tbody>
              @for(category <- places) {
                <tr>
                  <td style="vertical-align:top;">@category._1.getOrElse("[uncategorized]")</td>
                  <td>
                    @for(tuple <- category._2) {
                      <a href="@tuple._1.uri">@tuple._1.title</a> (@tuple._2)<br/>
                    }
                  </td>
                </tr>
              }
            </tbody>
          </table>
        }*@
    </div>
    <script>
      $(document).ready(function() {
        $.each($('.number'), function(idx, el) {
          var formatted = numeral($(el).text()).format('0,0');
          $(el).html(formatted);
        });

        $('.timeago').timeago();
      });
    </script>
  </body>
</html>
