@(history: Seq[(EditEvent, Option[Int])])(implicit s: play.api.db.slick.Config.driver.simple.Session)

<html>
  <head>
    <title>PELAGIOS Geo-Resolution Correction Tool</title>
  </head>
  
  <body>
    <table>
       <tr>
         <td>By</td>
         <td>Changed URI</td>
         <td>Changed Status</td>
         <td>At</td>
       </tr>
      @for(event <- history) {
      	<tr>
          <td>@event._1.username</td>
      	  <td>@event._1.updatedURI</td>
      	  <td>@event._1.updatedStatus</td>
      	  <td>@event._1.timestamp</td>
      	  <td>@event._2</td>
        </tr>
      }
    </table>
  </body>
</html>
    

