@(scores: Seq[(User, Int)])
<html>
  <head>
    <title>RECOGITO User Stats</title>
    <link rel="stylesheet" href="@routes.Assets.at("stylesheets/stats/main.css")" />
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/jquery/jquery-1.11.1.min.js")"></script>   
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/numeral/numeral.min.js")"></script>   
  </head>
  
  <body>
    <div class="column">
      <div id="title">
        <h1>Recogito</h1>
      </div>
      
      <div id="content">
        <div class="box">
          <h2>Top Contributors</h2>
      
          <table>
            @for((user, score) <- scores) {
              @defining(100 * score.toDouble / scores(0)._2) { percentage =>
                <tr>
                  <td><a href="@routes.StatsController.showUserStats(user.username)">@user.username</a></td>
                  <td class="score">
                    <div class="meter">
                      <div class="bar" style="width:@percentage%"></div><span><span class="number">@score</span> Edits</span>
                    </div>
                  </td>
                </tr>
              }
            }
          </table>
        </div>
      </div>
    </div>
    <script>
      $.each($('.number'), function(idx, el) {
        var formatted = numeral($(el).text()).format('0,0');
        $(el).html(formatted);
      });
    </script>
  </body>
</html>
    
