@(stats: Seq[models.StatsRecord])

<html>
  <head>
    <title>RECOGITO Stats</title>
    <link rel="stylesheet" href="http://code.shutterstock.com/rickshaw/rickshaw.min.css">
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/d3/d3.min.js")"></script>
    <script type="text/javascript" src="@routes.Assets.at("javascripts/lib/d3/rickshaw.min.js")"></script>

    <!--script>
      window.onload = function() {
        var data = {
          labels: [@Html(stats.map(_ => "''").mkString(","))],
    	  datasets : [
    	    { // Unverified
    		  fillColor : "rgba(220,220,220,0.3)",
    		  strokeColor : "rgba(220,220,220,1)",
    		  pointColor : "rgba(220,220,220,1)",
    		  pointStrokeColor : "#fff",
    		  data : [@stats.map(s => s.verifiedToponyms + s.unverifiedToponyms + s.unidentifiableToponyms).mkString(",")]    
    		}, { // Verified
    		  fillColor : "rgba(0,128,0,0.5)",
    		  strokeColor : "rgba(0,128,0,1)",
    		  pointColor : "rgba(0,128,0,1)",
    		  pointStrokeColor : "#fff",
    		  data : [@stats.map(s => s.verifiedToponyms + s.unidentifiableToponyms).mkString(",")]
    		},{ // Unidentifiable
    		  fillColor : "rgba(255,255,0,0.5)",
    		  strokeColor : "rgba(255,255,0,1)",
    		  pointColor : "rgba(255,255,0,1)",
    		  pointStrokeColor : "#fff",
    		  data : [@stats.map(_.unidentifiableToponyms).mkString(",")]		  
    		}
          ]
    	};
	
        var ctx = document.getElementById('chart').getContext('2d');
        var statsChart = new Chart(ctx).Line(data);
      }
    </script -->
    <script>
      window.onload = function() {
        var data = 
          [@{ stats.takeRight(50).zipWithIndex.map { case (record, idx) => "{ x:" + ((idx + 174) * 3600 * 24) + ",y:" + record.totalEdits + "}" }.mkString(",") }];
          
        var graph = new Rickshaw.Graph({
          element: document.querySelector("#chart"),
          width: 580,
          height: 250,
          series: [{
            data: data,
            name: "Annotationen"
          }]
        });
        
        var hoverDetail = new Rickshaw.Graph.HoverDetail( {
          graph: graph,
          xFormatter: function(x) {
            var date = new Date(x * 1000);
            return date.getUTCDate() + "." + (date.getUTCMonth()+1) + "." + date.getUTCFullYear();
          }
        } );
        
        var time = new Rickshaw.Fixtures.Time();
        var seconds = time.unit('month');
        
        var xAxis = new Rickshaw.Graph.Axis.Time({
          graph: graph,
          timeUnit: seconds
        });

        var yAxis = new Rickshaw.Graph.Axis.Y( {
          graph: graph,
          orientation: 'left',
          element: document.getElementById('y_axis'),
          tickFormat: Rickshaw.Fixtures.Number.formatKMBT
        });
        graph.render();
        
        var label = d3.select("svg.y_axis")
        .append("svg:text")
          .style("text-anchor", "end")
          .attr("x", -80)
          .attr("dy", ".75em")
          .attr("transform", "rotate(-90)")
          .text("Anzahl Annotationen");
    }
</script>
<style>
  #chart svg path.path {
    stroke:steelblue;
    fill:#ccccff;
  }
  #chart_container {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
  }
  #chart, #x_label {
    position: relative;
    left: 60px;
  }
  #y_axis {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 60px;
  }
  #x_label {
    top: 10px;
    width: 580px;
    text-align: center
  }
</style>
  </head>
  
  <body>
    <div id="chart_container">
      <div id="y_axis"></div>
      <div id="chart"></div>
      <div id="x_label">Datum</div>
    </div>
  </body>
</html>
    

