@(stats: Seq[((GeoDocument, Option[String]), Int)], places: Map[String, org.pelagios.api.gazetteer.Place])
<html>
  <head>
    <title>RECOGITO Toponym Stats &raquo;</title>
  </head>
  
  <body>
    <div class="column">
	  <h2>By Document</h2>
	  <table>
	    @for((gdoc, count) <- stats.groupBy(_._1._1).toSeq
	                            .map(t => (t._1, t._2.foldLeft(0)(_ + _._2)))
	                                .sortBy(- _._2))  {
	      <tr>
		    <td>@gdoc.title</td>
		    <td>@count</td>
		  </tr>
	    }
	  </table>
	  
	  <h2>By Place</h2>
	  <table>
	    @for((uri, count) <- stats.groupBy(_._1._2).toSeq
	                           .map(t => (t._1, t._2.foldLeft(0)(_ + _._2)))
	                               .sortBy(- _._2)) {
		  <tr>
		    <td>@uri.flatMap(places.get(_)).map(_.label).getOrElse("-- unmapped --")</td>
		    <td>@count</td>
		  </tr>
		}
	  </table>
    </div>
  </body>
</html>
    
