@(user: User, numberOfEdits: Int, numberOfEditsPerDocument: Seq[(GeoDocument, Int)])
<html>
  <head>
    <title>RECOGITO User Stats &raquo; @user.username</title>
  </head>
  
  <body>
    <h1>@user.username</h1>
    <p>Member since @user.memberSince</p>
    <p>Number of contributions: @numberOfEdits (includes deletions!)</p>
    
    <table>
      @for((doc, numberOfEdits) <- numberOfEditsPerDocument) {
      	<tr>
      	  <td>@doc.title</td>
      	  <td>@numberOfEdits</td>
      	</tr>
      }
    </table>
  </body>
</html>
    